[2015-05-17 14:34] Cydrobolt opened #1 "Years are listed from oldest to most recent, months are not sorted"
Individual group browse pages should show the most recent meeting years first.
Months should also be sorted in chronological order (Jan to Dec)

[2015-05-20 00:32] Cydrobolt opened #2 "Listen on the fedmsg bus to update memcached when a new meeting ends"

[2015-05-20 00:36] Cydrobolt opened #3 "Create RPM spec, mod_wsgi config"

[2015-05-20 14:24] ralphbean commented on #2
Or, do it in real-time with fedmsg!

[2015-05-20 14:47] Cydrobolt commented on #2
:+1:! Interesting :)
Is there a message that is sent every time a new meeting finishes? If not, mote could monitor the log folder and send the fedmsgs itself

[2015-05-20 14:49] Cydrobolt commented on #1
Fixed by #4

[2015-05-20 14:49] #1 closed

[2015-05-20 14:51] Cydrobolt opened #5 "remove pymysql from requirements"
Remove pymysql from requirements.txt, mote no longer uses a database (it uses JSON, possibly YAML, with memcached caching)

[2015-05-20 21:09] #5 closed

[2015-05-21 21:58] ralphbean commented on #2
There is.  [See here](https://apps.fedoraproject.org/datagrepper/raw?topic=org.fedoraproject.prod.meetbot.meeting.complete)

[2015-05-21 22:05] Cydrobolt commented on #2
Exactly what I was looking for! Thanks!

[2015-05-23 02:45] Cydrobolt opened #6 "Add "active" class on date-collapse"
Add the `active` class to highlight current date.
Also add an automatic scroll-up to prevent users from needing to scroll too far.

[2015-05-23 02:47] Cydrobolt opened #7 "Catch meetbot.fp.o requests with a Flask pattern"
"original" logs will need to be moved to another domain, such as `meetbot-store.fp.o`, while `meetbot.fp.o` requests can be simply caught by mote.

[2015-05-23 16:56] pypingou commented on #7
Shouldn't it be the other way around to avoid breaking all existing links?

[2015-05-23 17:00] Cydrobolt commented on #7
@pypingou can you elaborate? Existing links should still work fine, as mote should be able to capture these URLs and serve the correct logs/minutes.

[2015-05-23 18:10] Cydrobolt commented on #7
Added in d6e5dae753b847993c33b3f30972e250dcccd2d1

[2015-05-23 18:10] #7 closed

[2015-05-23 19:42] Cydrobolt opened #8 "Pull JSON data files remotely"
These data files should be stored and fetched remotely whenever possible, as they are expected to change often and should not be stored locally.

[2015-05-23 20:02] #8 closed

[2015-05-23 23:23] Cydrobolt commented on #6
Added in d6e5dae753b847993c33b3f30972e250dcccd2d1

[2015-05-23 23:23] #6 closed

[2015-05-23 23:26] Cydrobolt opened #9 "Efficiency: improve caching pattern?"
Currently, mote is updating its cache each time it runs. However, considering Apache may be running multiple WSGI threads, it seems like the pattern could become inefficient.

Perhaps some kind of `last_updated` can be used in combination with `fedmsg` to trigger updates only when needed.

[2015-05-24 18:24] Cydrobolt opened #10 "Write a better intro summary for the front page"

[2015-05-25 15:18] Cydrobolt opened #11 "Send email to appropriate mailing lists after each meeting"
Send emails to the correct project mailing lists after mote receives a `fedmsg` "meeting ended" message, in order to encourage consistency and ensure the mailing list subscribers are kept up to date. `pkovar` from the Docs team suggested this to be added.

We can hook into the `fedmsg` bus to learn when meetings end, and use the JSON/YAML configuration files to determine which email the meeting lo

[2015-05-25 18:53] Cydrobolt commented on #3
Done

[2015-05-25 18:53] #3 closed

[2015-06-01 16:11] Cydrobolt opened #13 "Escape certain HTML items"
Some data such as group friendly names, group names, and other potentially XSS-vulnerable data should be escaped using the `| e` jinja filter.

Although mote will not show invalid group names, descriptions, etc (such as HTML), it should be beneficial to escape it anyways.

[2015-06-06 01:16] #13 closed

[2015-06-06 01:16] Cydrobolt commented on #9
Fixed

[2015-06-06 01:16] #9 closed

[2015-06-06 15:37] Cydrobolt opened #14 "A drop-in OrderedDict is needed for EPEL 6"
Python 2.6 does not support collections.OrderedDict -- a drop-in is needed.

Such a module can be found here: https://pypi.python.org/pypi/ordereddict
Fedora Package (supports EPEL 6): https://admin.fedoraproject.org/pkgdb/package/python-ordereddict/

This module needs to be implemented in mote's EPEL 6 builds.

[2015-06-06 17:53] pypingou commented on #14
Do you target EL6 or EL7? (Fedora infra being moved to EL7)

[2015-06-06 18:02] Cydrobolt commented on #14
Both, although the EPEL 6 build is not working because of this issue.
The EPEL 7 build should be able to work correctly in its current state. `value01`, the server where mote needs to be run, is currently on EL6, but is getting moved to EL7 someday, not sure when yet.

[2015-06-10 22:47] Cydrobolt opened #15 "Save in JSON or Pickle store as a backup to memcached"
Pointed out by @puiterwijk, we should implement a JSON or pickle FS store as a backup to memcached, in case it fails or immediately rejects `mote`'s cache in low-memory situations.

However, using a file store instead of an in-memory store can cause performance issues, so a system of try/except/finally might make more sense in this use case.

The cache fetcher function used to grep data from cache

[2015-06-12 14:50] ralphbean opened #16 "Solicit feedback from a few channels before pushing mote to production"
It might be nice to see if:

- [x] #fedora-design
- [x] #fedora-devel
- [x] #fedora-admin

had anything to say about mote before we push it out.

If there are major changes they suggest, we can hold off on those for a while.  But if there are easy, minor things, we might be able to fix them before going live.

[2015-06-12 14:51] ralphbean opened #17 "Why is there a login button?"
It doesn't seem to me like it makes sense for mote.

[2015-06-12 14:52] ralphbean opened #18 "Fix hardcoded URL in the 'original' button"
Currently, it is the only place that the production url is hardcoded -- this makes the staging instance behave kind of strangely.

[2015-06-12 14:52] ralphbean opened #19 "Provide a permalink button"
So that people know they can permalink to meeting into in the nicer mote interface.

[2015-06-12 14:53] ralphbean commented on #11
This is probably a better fit for [fmn](https://apps.fedoraproject.org/notifications).  See fedora-infra/fmn#72, for example.

[2015-06-12 14:54] ralphbean commented on #14
Fun fact!  @nirik upgraded value01 from EL6 to EL7, so we don't strictly need to support EL6 anymore, at least not for fedora infrastructure.

If that's okay, then we can probably just close this issue as ``WONTFIX``.

[2015-06-12 15:07] Cydrobolt commented on #14
Cool.

[2015-06-12 15:07] #14 closed

[2015-06-12 15:09] Cydrobolt commented on #11
Yes, this does sound like a good idea for fmn!

[2015-06-12 15:11] ralphbean opened #20 "Serve all static resources ourselves"
Take a look at my network tab when viewing the staging mote instance:

![mote-resources](https://cloud.githubusercontent.com/assets/331338/8132994/7b993f7a-10f3-11e5-991d-ff60b967b847.png)

Some of them are coming from gstatic.com, some from googleapis.com, some from bootstrapcdn.com, etc..  We can't have that on a Fedora Infrastructure app, mostly for privacy issues.  We don't want to be redirect

[2015-06-12 15:19] ralphbean opened #21 "Move teams JSON file to ansible."
That way:

- we don't rely directly github.com for startup.
- sysadmins can change it and push out a new copy.
- we don't have to cut a new release of the rpm just to change that teams definition

We'll want to keep a copy on github so people can easily make a PR for it.  But we should keep the primary copy in ansible, just like we do with the [apps.fp.o data](http://infrastructure.fedoraproject.o

[2015-06-12 15:20] ralphbean commented on #16
I asked in each of their channels.. so, hopefully people will file bugs.  :)

[2015-06-12 15:20] #16 closed

[2015-06-12 15:21] Cydrobolt commented on #19
Added in 4bb440e40d470b34e0a55e78e41d1e014e850a23

[2015-06-12 15:21] #19 closed

[2015-06-12 15:22] Cydrobolt commented on #17
The login button was for sysadmins to pull in group/alias data updates, but it looks like that might be obsoleted by the Ansible solution

[2015-06-12 15:24] Cydrobolt commented on #20
Yup, we actually used the FontAwesome CDN because nirik suggested that an external CDN might help circumvent the lack of fontawesome in EPEL 6. However, since value01 is now on el7, we should be able to move it back.

[2015-06-12 15:34] Cydrobolt commented on #18
Fixed in 7ce8b5cf9c0c32c05bbbf6b7b7b7dd77eb455969

[2015-06-12 15:34] #18 closed

[2015-06-12 15:35] Cydrobolt commented on #15
Fixed in 04e40837291445b27537aabeb0079c4e180fa141

[2015-06-12 15:35] #15 closed

[2015-06-12 15:41] Cydrobolt opened #22 "Add a loading animation when "view log" is clicked"
The "View Log" button may actually take up to 600ms to fetch and process the data from the remote raw source, so it is probably best if there is a loading animation shown so that people don't try to click on it repeatedly.

[2015-06-12 15:44] Cydrobolt commented on #21
:+1:

[2015-06-12 19:01] Cydrobolt commented on #21
Fixed in def333749607a3e4dbe95e28f5bb27e255d79ba9

[2015-06-12 19:01] #21 closed

[2015-06-13 05:31] pnemade opened #23 "Unable to read any meeting logs"
Currently for any meeting log I see some dots animation appears which moves dots clockwise but nothing happens. After sometime I see message. This is happening for any meeting log

[code]

[2015-06-13 12:53] Cydrobolt commented on #23
Can you please describe each step you took before encountering the error? We had an issue for a couple hours in the afternoon that could have caused a 500, but that was fixed a bit later.

Can you try again and see if you can view logs? If not, please describe the steps you took to reproduce the error.

Thanks!

[2015-06-13 13:08] pnemade commented on #23
I got this link on fudcon-planning list -> http://meetbot.fedoraproject.org/fedora-meeting/2015-06-13/fedora-meeting.2015-06-13-04.00.log.html

I tried this 2-3 times few hours ago but unable to open it. I just now tried this link and now there is simple but different message "The requested URL /fedora-meeting/2015-06-13/fedora-meeting.2015-06-13-04.00.log.html was not found on this server."

Then

[2015-06-13 13:34] ralphbean commented on #23
This was my bad.  **Half** of the staging configuration for mote made it out to production, which ruined meetbot.fp.o links.  A couple patches to our ansible repo and it should be back to normal now.

- http://infrastructure.fedoraproject.org/cgit/ansible.git/commit/?id=3dff80920d6309ec110326acc7b2385c436a3e4a
- http://infrastructure.fedoraproject.org/cgit/ansible.git/commit/?id=0a7f7604e69b6852bd

[2015-06-13 13:34] #23 closed

[2015-06-13 13:58] Cydrobolt commented on #23
Ah. Thanks for the fix, @ralphbean

[2015-06-13 14:17] Cydrobolt commented on #17
Removed in 0a205eff76410a685ab92316aaaea79dd4092403

[2015-06-13 14:17] #17 closed

[2015-06-15 16:14] #2 closed

[2015-06-15 16:44] Cydrobolt commented on #22
Although this doesn't quite seem like a blocker issue, it could get hectic as more traffic comes. The wait is already quite long, it's really hard to tell whether it is loading or not at times.

[2015-06-17 01:49] Cydrobolt opened #25 "Bug with FAmSCo meetings"
There is a bug with FAmSCo meetings, they seem to return an error. Perhaps someone accidentally edited one of the file names or file formats in a way that broke mote. This error is caused more specifically by a mislabled date. Maybe we can ignore the error, or show a link to the -raw.

[2015-06-17 01:52] Cydrobolt opened #26 "Setting remote URL as localhost breaks links"
This seems to break certain links, such as links to "original" and text links that redirect directly to the "original" text files.

We can probably fix this by having different remote linking and remote fetching URLs.

[2015-06-17 06:50] pnemade opened #27 "Fetch single-log contents from channel first if available"
we finished g11n meeting in #fedora-meeting 1 hr ago but I am still not able to see the log url -> http://meetbot.fedoraproject.org/fedora-meeting/2015-06-17/g11n.2015-06-17-04.30.html

The error message is " Not Found

The requested URL /meetbot/teams/g11n/g11n.2015-06-17-04.30.log.html was not found on this server.
"

[2015-06-17 06:52] pnemade opened #28 "Please restore previous way of viewing meeting logs"
Previously I can go to any date like http://meetbot.fedoraproject.org/fedora-meeting/2015-06-17/ and browse what meetings happened on that day and read the logs without issue.

Now the directory viewing is not allowed. Please allow it. The error I get with above URL is "The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again."

[2015-06-17 07:15] pnemade commented on #27
I desperately need to check log files and provide particular reference from that log file in a ticket but its not working....

[2015-06-17 08:30] pnemade commented on #27
after some discussion on #fedora-apps, I come to conclusion that only this g11n meeting log files are not working and all previous meeting logs are accessible.

[2015-06-17 08:36] puiterwijk commented on #27
Note, for now we have http://meetbot-raw.fedoraproject.org/fedora-meeting/2015-06-17/g11n.2015-06-17-04.30.html

[2015-06-17 08:37] puiterwijk commented on #28
For that you can use meetbot-raw: http://meetbot-raw.fedoraproject.org/fedora-meeting/2015-06-17/

[2015-06-17 11:29] Cydrobolt commented on #27
Yes, the raw link should work nonetheless. I've also noticed this error. It is due to the fact that `teams/` is on a cron task, and files underneath are not immediately available for viewing.

I will try to fix this issue soon by making sure the single-log viewer first pulls raw logs from fedora-meeting (channel) rather than `teams/`.

Another option would be to have whichever task the cron is run

[2015-06-17 11:31] Cydrobolt commented on #27
Please give -raw a try for now (thanks @puiterwijk), the cron task should update soon and I will fix the fetching pattern to make sure all logs update immediately.

[2015-06-17 11:33] pnemade commented on #27
Thanks @Cydrobolt but can you fix that g11n meeting link for now.

[2015-06-17 11:33] Cydrobolt commented on #28
You can get similar behavior by searching for "fedora-meeting" in the search box. This will bring you to the same result.

http://meetbot.fedoraproject.org/sresults?group_id=fedora-meeting&type=channel

[2015-06-17 11:33] #28 closed

[2015-06-17 11:37] Cydrobolt commented on #27
Could you change the link in the ticket to the raw link http://meetbot-raw.fedoraproject.org/fedora-meeting/2015-06-17/g11n.2015-06-17-04.30.html until we fix the issue?

[2015-06-17 11:46] pnemade commented on #27
Okay no problem

[2015-06-17 11:53] pypingou commented on #28
@Cydrobolt what about supporting these urls as search query?

This would avoid breaking existing URLs that could have been shared/bookmarked

[2015-06-17 12:01] pnemade commented on #28
I am more interested to search by date rather than meeting channel name. Also, I assume the mote UI is still not complete right? I need to click few times before reaching particular meeting log. Previously its easy I can calculate if today is fesco meeting then last week same day I can browse and read the meeting log.

Also, I think in the past channels used to change meetings based on day-light s

[2015-06-17 17:30] ralphbean opened #32 "search should sort results by most-active-entries first"
if you search for just 'design' you see that the first two results it returns have only old entries.. but the third entry is the one you want with the most recent stuff.

[2015-06-17 17:31] apevec commented on #26
Please fix this, we need .txt for posting meeting minutes.

[2015-06-17 17:31] ralphbean opened #33 "hitting 'enter' on a search item should navigate to it"
it's confusing to hit enter and then have it just populate the search input field... the user might sit there waiting to be taken somewhere, but the page just idles until you click 'search'

[2015-06-17 17:58] Cydrobolt commented on #26
Can you use the.-raw link?
Just add "-raw" to MeetBot link like so.

http://meetbot-raw.fedoraproject.org/blablabla/bla.txt

[2015-06-17 18:04] apevec commented on #26
Thanks, that worked!
It was just too much javascript for me, good to have static website as fallback :)

[2015-06-17 18:18] #33 closed

[2015-06-17 19:28] ralphbean commented on #28
Can you file an RFE for this indicating how you'd like it to work?

[2015-06-17 19:29] ralphbean commented on #27
I'm pretty sure #29 will fix this issue.

[2015-06-17 19:29] ralphbean commented on #25
Can you link to where you see the error @Cydrobolt?

[2015-06-17 19:30] ralphbean commented on #25
Is it [here](http://meetbot.fedoraproject.org/sresults?group_id=famsco&type=team)?

[2015-06-17 22:23] Cydrobolt commented on #25
@threebean yup.

[2015-06-18 01:48] #32 closed

[2015-06-18 02:12] Cydrobolt commented on #27
@pnemade the mote link should have synced itself. Closing ticket as #29 should fix the issue once we deploy it.

[2015-06-18 02:12] #27 closed

[2015-06-18 04:52] pnemade opened #36 "RFE: Please if possible add date based search"
In the search form you can just add calendar and let user select any date and based on date selection, results should show all the meetings happened on that particular date in fedora channels.

I don't have specific use case for this but I also realized that when I used to search old meeting logs at meetbot-raw.fedoraproject.org, I actually search by channel name and then date which is already imp

[2015-06-18 12:02] Cydrobolt opened #37 "Show team results before channel results"
Team results may be more active than channel results. Thoughts?

[2015-06-18 13:28] Cydrobolt commented on #37
This shouldn't matter anymore, since most recent results are displayed first.

[2015-06-18 13:28] #37 closed

[2015-06-18 13:37] Cydrobolt commented on #26
Fixed in 336ed16666515bf5b854982fc21f0f2e8c6aa5e7

[2015-06-18 13:37] #26 closed

[2015-06-18 13:39] Cydrobolt commented on #28
@pypingou yeah, that sounds like a good idea as well.

[2015-06-18 13:40] Cydrobolt commented on #36
Additionally, as @pypingou pointed out, we could also catch URLs in the format of http://meetbot.fedoraproject.org/fedora-meeting/2015-06-17/

[2015-06-18 13:44] ralphbean commented on #36
@Cydrobolt that would solve one half of it.. but the other half is trying to search for meetings by **just** date in **any** channel.  That's currently not possible in either the *old* interface or mote.

[2015-06-18 13:52] Cydrobolt commented on #36
Oh, I see what he means. Hmm. We could definitely implement that as well.

[2015-06-18 14:15] #22 closed

[2015-06-18 14:27] hhorak opened #38 "Links broken for today's meeting"
Hi, we had a meeting today (2015-06-18, env-and-stacks) and I wanted to access meeting logs. I got to page http://localhost/meetbot/fedora-meeting-2/2015-06-18/env-and-stacks.2015-06-18-12.00.html which obviously doesn't work.. but even http://meetbot.fedoraproject.org/fedora-meeting-2/2015-06-18/env-and-stacks.2015-06-18-12.00.html shows just;
[code]

[2015-06-18 14:43] Cydrobolt commented on #38
@hhorak hello! Sorry for the inconvenience! We are aware of this issue and have patched it in 029a6ef8be9bc9a9fa04ddd281c1ced588bfa7f3

I am currently rebuilding mote and preparing to deploy it. The issue should be fixed as soon as all the builds finish and we deploy the bugfix, it should be fixed by the end of the day.

Thanks!

[2015-06-18 14:43] #38 closed

[2015-06-18 14:50] Cydrobolt commented on #38
@hhorak I've also manually fixed the meeting log for you, as a temporary fix while we deploy the update.

http://meetbot.fedoraproject.org/fedora-meeting-2/2015-06-18/env-and-stacks.2015-06-18-12.00.html should now be working.

[2015-06-18 21:58] Cydrobolt commented on #25
The new time-based relevancy sorting formula seems to get stuck on this issue as well, hanging if "famsco"  is searched.

[2015-06-19 01:18] Cydrobolt opened #42 "Slow loading on meetbot.fp.o"
There seems to be a pretty large lag when trying to load meetbot.fp.o
It is very likely to be unrelated to mote and actually caused by proxy and network issues, but I'm going to keep an eye out to see if something in mote is blocking page load.

For instance, the last time I refreshed the page, there was a 53 second loading time. Some other times, it loads within a couple seconds.

[2015-06-19 02:54] Cydrobolt commented on #42
Closing, seems unrelated to mote.

[2015-06-19 02:54] #42 closed

[2015-06-22 16:39] kparal opened #43 "Catch date links"
In bugzilla, we have many comments like these:
[code]
It would be great if the historical links worked, if possible.  Currently they return 404. Thanks.

[2015-06-22 16:40] kparal commented on #43
Sometimes we linked the directory, sometimes the particular txt/html file.

[2015-06-22 23:37] Cydrobolt commented on #43
I'm going to work on this, hopefully get it fixed soon

[2015-06-23 00:12] Cydrobolt commented on #43
Fixed in dbc9d33f4d913bdd7583bb865442e529a7e9a51a, will be pushed soon.

[2015-06-23 22:00] Cydrobolt commented on #43
Deployed

[2015-06-23 22:00] #43 closed

[2015-06-24 13:53] kparal commented on #43
Thanks.

[2015-06-24 14:07] Cydrobolt commented on #36
#43 is relevant

[2015-06-26 14:31] alick opened #45 "which link should be used?"
Hi, I find that recently that links like http://meetbot.fedoraproject.org/fedora-zh stop working, while http://meetbot.fedoraproject.org/meetbot/fedora-zh and http://meetbot-raw.fedoraproject.org/fedora-zh can still give out the list of all meetings by date. The last one seems new to me. I wonder which link is preferred for use?

Background: we use a customized python script (https://github.com/FZ

[2015-06-26 14:33] ralphbean commented on #45
If you have a script that is scraping the old interface, I recommend:  http://meetbot-raw.fedoraproject.org/fedora-zh

[2015-06-26 14:34] ralphbean commented on #45
We put a new human interface (mote) over the logs and then moved the old "raw" logs to that meetbot-raw.fp.o url.  Let us know if it is problematic for you!

[2015-06-26 14:34] #45 closed

[2015-06-26 14:34] Cydrobolt commented on #45
I recommend this:
http://meetbot.fedoraproject.org/sresults?group_id=fedora-zh&type=channel

On Fri, 26 Jun 2015 at 10:33 Ralph Bean <notifications@github.com> wrote:

[2015-06-26 14:37] alick commented on #45
@ralphbean Thanks for the quick reply!
@Cydrobolt I guess it is more to human right?

[2015-06-26 14:52] Cydrobolt commented on #45
@alick my link for humans, Ralph's link for bots :)

[2015-06-27 00:31] AdamWill commented on #43
Note, it still doesn't handle directories with a trailing slash. Compare http://meetbot.fedoraproject.org/fedora-blocker-review/2015-05-18 and http://meetbot.fedoraproject.org/fedora-blocker-review/2015-05-18/ .

[2015-06-27 00:39] Cydrobolt commented on #43
Yeah, we haven't deployed the new patch yet.

On Fri, Jun 26, 2015, 8:31 PM Adam Williamson <notifications@github.com>
wrote:

[2015-06-27 00:40] Cydrobolt commented on #43
There was another commit earlier that fixed the trailing slash thing.

On Fri, Jun 26, 2015, 8:39 PM Chaoyi Zha <summermontreal@gmail.com> wrote:

[2015-07-14 17:28] cmurf opened #46 "RFE: work around meetings that don't use #meetingname"
Fedora Server WG meetings do not use #meetingname, and therefore meetbot.fedoraproject.org doesn't know about its meetings, so meeting logs are (at the moment apparently) non-locatable unless you already know the complete URL I guess.

Reproduce steps:
1. http://meetbot.fedoraproject.org/
2. Browse: No working groups are listed, including Server.
3. Search field: typing in "server" brings up two r

[2015-07-14 17:50] Cydrobolt commented on #46
These meetings can still be locatable, in the same fashion that the meetings were locatable previously.
You can search for the channel (e.g "fedora-meeting") in the search bar, then navigate through date to find the correct meeting. What method did you use to find the meetings previously? Did you use channel and date like this?

[2015-07-14 19:22] cmurf commented on #46
I didn't try this. It does work. I didn't consider it because the field asks for a group name, and I didn't consider the name of a channel as the same thing as a group name.

[2015-07-14 19:23] Cydrobolt commented on #46
It accepts both channels or teams (#meetingname) :)

[2015-07-14 19:50] Cydrobolt commented on #46
Closing the ticket for now, reopen if needed :)

[2015-07-14 19:50] #46 closed

[2015-07-14 19:51] Cydrobolt commented on #43
Deployed fix for trailing slashes.

[2015-07-29 23:22] Grinnz opened #47 "Rename "View Log" button to just "View""
"View Log" is confusing when it is present for both the Log and Minutes.

[2015-07-29 23:32] Cydrobolt commented on #47
Agreed, this sounds like a good change.

[2015-07-30 00:37] Grinnz opened #48 "Old meetbot team links 404"
Links for overall team pages on the meetbot site are returning 404 in the new interface.
example: http://meetbot.fedoraproject.org/teams/fesco

[2015-07-30 00:56] #48 closed

[2015-07-30 01:10] ralphbean commented on #11
Hey, so, since this is FMN's responsibility, I'm just going to close this issue.

[2015-07-30 01:10] #11 closed

[2015-07-30 01:32] #47 closed

[2015-07-30 01:33] #25 closed

[2015-07-30 04:29] Cydrobolt opened #52 "Hide view (modal) button on mobile view"
The modal view for logs on mote looks terrible and isn't responsive. We can add the hidden-sm or hidden-xs classes to the buttons to hide them and ask users to use the permalink button instead

[2015-07-30 16:31] mattdm opened #53 "Links in meeting minutes to full logs are wrong in modal view"
The meeting minutes have links to the full logs, both at the top and inline for various topics. These all result in 404 errors.

I think ideally they should go to that full log within møte.

[2015-07-30 16:32] mattdm opened #54 "No obvious way to get URL for specific minutes or logs to share from minutes/logs view"
When I click on a specific meeting, it is displayed as a pop-up in the same window. This is fine, but it'd be nice to have some way to open that in a window of its own, and to get a link to just that meeting to share.

[2015-07-30 16:35] mattdm opened #55 "Reverse month, day, and meeting lists to be newest first."
Right now, years are latest at the top, but months and the meetings within the month are in order. Usually, I'm looking for recent meetings (and probably most often, the latest meeting). The current UI makes that more buried than I'd like.

[2015-07-30 16:38] mattdm opened #56 "RFE: show link to latest meeting for a given group immediately"
Usually, I am looking to find the most recent meeting for a given group. Let's optimize for this. On a given team page (like http://meetbot.fedoraproject.org/sresults/?group_id=council&type=team), either:

A. Have a block at the top of the page showing the links to the latest minutes (and possibly log)

or

B. Just have the latest year/month/meeting already expanded.

[2015-07-30 16:39] mattdm commented on #54
I know there are separate buttons for permalink, but it'd be nice to have that _without_ closing the view.

[2015-07-31 16:27] Cydrobolt commented on #56
Will take a look at the RFEs/issues over the weekend ;)

[2015-08-11 01:30] Cydrobolt opened #58 "Create bind events instead of using inline JS"
It might be good later on to switch out the inline JS to click hooks

[2015-08-11 02:29] Cydrobolt commented on #56
@mattdm ^ should work :)

[2015-08-11 02:35] Cydrobolt commented on #52
5f71f803b0cae0457b70844cf2bee3bd442c34ea

[2015-08-11 02:35] #52 closed

[2015-08-13 05:10] pnemade opened #60 "Fix links in full/permalink view with trailing slashes."
I have observed that when clicked on full logs link on http://meetbot.fedoraproject.org/fedora-meeting/2015-08-05/fesco.2015-08-05-18.00.html navigates you to http://meetbot-raw.fedoraproject.org/fedora-meeting/2015-08-05/fesco.2015-08-05-18.00.html/fesco.2015-08-05-18.00.log.html

The correct URL should be http://meetbot-raw.fedoraproject.org/fedora-meeting/2015-08-05/fesco.2015-08-05-18.00.log.h

[2015-08-13 05:14] Cydrobolt commented on #60
Hmm, you are correct. It looks like this bug is triggered by the trailing slash, causing the link to be incorrect.

[2015-08-13 05:15] Cydrobolt commented on #54
Hmm. What do you mean? Do you mean a permalink button from within the viewer modal?

[2015-08-13 05:16] #10 closed

[2015-08-13 05:16] Cydrobolt commented on #53
Yes, we should use BeautifulSoup to replace those links ideally. Perhaps some kind of regex will also be needed.

[2015-08-13 05:16] #56 closed

[2015-08-14 21:41] Cydrobolt commented on #60
a755ef0b1398ea09661e99eff42486df1bcfcbcb should fix the issue

[2015-08-14 21:42] #60 closed

[2015-08-22 16:32] mattdm commented on #54
Yeah, something like that, exactly. :)

[2015-08-27 07:22] pnemade commented on #60
Is this fix deployed already? I used page https://meetbot.fedoraproject.org/fedora-meeting-1/2015-08-26/cloud_wg.2015-08-26-17.00.html and tried to open full log but it error with same problem as reported in this issue.

[2015-08-27 14:02] Cydrobolt commented on #60
@pnemade, no,  we haven't deployed yet

[2015-08-31 11:57] kparal opened #62 "Wrap text correctly (don't break-word) on pre tags in log view"
I'm reading one of the logs [1] and all the long lines are character-wrapped in the middle of the word. That's very uncomfortable to read. Please use word wrapping instead, wrapping at a whitespace.

Thanks!

[1] https://meetbot.fedoraproject.org/fedora-meeting/2015-08-26/fesco.2015-08-26-18.06.log.html/

[2015-09-03 14:03] sanjayankur31 commented on #53
I don't think this is an enhancement, it's more a defect at the time being. :/

Here are some more details: On this page: ​https://meetbot.fedoraproject.org/fedora-meeting/2015-09-02/workstation.2015-09-02-14.01.html/

"full logs" links to: ​https://meetbot.fedoraproject.org/fedora-meeting/2015-09-02/workstation.2015-09-02-14.01.html/workstation.2015-09-02-14.01.log.html

but the actual link, (as

[2015-09-03 14:33] Cydrobolt commented on #53
@sanjayankur31, the bug you are referring to is actually #60

[2015-09-03 18:40] #54 closed

[2015-09-03 18:40] Cydrobolt commented on #54
![image](https://cloud.githubusercontent.com/assets/1058150/9667430/bca291a0-5249-11e5-94fc-e78c8e79ae9b.png)

[2015-09-03 18:48] Cydrobolt commented on #62
Hmm. We are currently using `white-space: wrap;` on `.logdisplay pre`, which should wrap the text the same way `meetbot-raw` wraps it. Will investigate why it's breaking words in its wrapping.

[2015-09-03 19:15] Cydrobolt commented on #53
Fixed in fa635fb0a137a74ffb7bafcd52c69e09ebc20360

[2015-09-03 19:15] #53 closed

[2015-09-10 02:41] Cydrobolt commented on #55
@mattdm I think this could also potentially be a discussion item. Some people may prefer that months/days are listed from lowest to highest (chronological order), and a reverse order may cause confusion -- however, I totally agree with you that most people are looking for the most recent meetings.

I added a "Latest Meeting" button to help speed up the lookup process. @ralphbean any thoughts?

[2015-09-10 02:47] cydrobolt opened #63 "Fix select2 box to fit in with rest of theme"
It currently has its own style, since it is generated and isn't affected by `form-control` or other styles imposed on text input boxes.

[2015-09-19 03:25] Cydrobolt commented on #58
Fixed in d647016ddf38adb8e10ca5b29c0bbf56691eb86d

[2015-09-19 03:25] #58 closed

[2015-09-30 07:26] hhorak opened #66 "RFE: Full-text search in meeting logs"
My common use case is to search for a meeting where some keyword was mentioned. For example, when I want to refresh what was decision about problem "foo", I'd like to find all meetings and logs that mentioned "foo".

It would be also useful to have the searched term highlighted in the log.

[2015-09-30 11:19] Cydrobolt commented on #66
We discussed this issue in the very early stages of mote.  In order to implement any kind of full text sesrch,  we would likely have to do indexing,  perhaps with something such as Whoosh or expect queries to take a long time. I'm not sure how long queries would take if we simply searched through all files direcrly,   it that likely wouldn't be a good option.

I think the balance here is how much

[2015-10-28 19:11] ralphbean opened #67 "500 internal error for this releng meeting"
I'm getting a 500 internal server error for this releng meeting:  https://meetbot.fedoraproject.org/fedora-meeting-1/2015-02-09/releng.2015-02-09-16.31

We get this traceback in the logs:

[code]

[2015-10-28 19:15] Cydrobolt commented on #67
Hmm. It looks like a regex error.

Is that the link that MeetBot returned? It looks like it could potentially be an invalid link,  because it has no file name (generally .log.html or .html)

[2015-10-28 19:16] Cydrobolt commented on #67
This seems to be the correct link (appended .html)

https://meetbot.fedoraproject.org/fedora-meeting-1/2015-02-09/releng.2015-02-09-16.31.html

[2015-10-28 19:17] ralphbean commented on #67
Ah, I see.  We should probably return a 404 for it if possible instead of a 500.

[2015-10-28 19:56] Cydrobolt commented on #67
Yeah

[2015-10-28 20:49] Cydrobolt commented on #67
81aa8bb685762a91ffe310abd7a1a8910061ddaa should fix this issue. Thanks @ralphbean !

[2015-10-28 20:50] #67 closed

[2016-01-14 23:02] cydrobolt opened #70 "Add nosetests for mote"
Add nosetests for mote, add CI

[2016-01-15 03:12] cydrobolt opened #71 "Add correct aliasing for mote"
Consider indexing the aliases to avoid needing to loop through all the category/name associations each time.

[2016-01-16 01:03] cydrobolt commented on #70
Added in 76edf7f3c710c1e242cf76bc815397f61a314a88

See builds: https://travis-ci.org/fedora-infra/mote/builds/102729073

[2016-01-16 01:03] #70 closed

[2016-01-17 18:32] jflory7 opened #73 "run_tests.sh script does not install for dependencies"
When trying to test local changes of møte, the `run_tests.sh` script fails with the following stacktrace.
[code]
Running `dnf provides nosetests` provides no results. Not sure if this is a typo for another command or if it's a package that needs to be installed for the script to work as expected.

[2016-01-17 18:40] jflory7 opened #75 "New line break for categories with more than one meeting"
When browsing through the møte directory listing, categories with more than one meeting listed under them are clumped together without any kind of distinct separation. It is unclear that there is more than one meeting for a category currently.

I think the best method of separating them is by a line break for each new type of meeting in a category. This will make them easier to see as their own st

[2016-01-17 19:56] cydrobolt commented on #73
Right. You need to install the dependencies before you can run the tests.

Try this: `pip install -r requirements.txt`

For future reference, `nose` is provided by `pip`: `pip install nose`

[2016-01-17 20:01] cydrobolt commented on #75
This was fixed in 02e4e01e60ede78c7bf47daa58959126b2ab0a3c, but we haven't deployed this yet.

[2016-01-17 20:01] #75 closed

[2016-01-30 03:32] #73 closed

[2016-01-30 03:32] cydrobolt commented on #71
Fixed in #76

[2016-01-30 03:32] #71 closed

[2016-01-30 03:38] cydrobolt opened #78 "Invalid FAmSCo names causing issues"
The small cluster of FAmSCo meetings that have invalid filenames have been interfering with mote's proper functioning for a while now. However, there has still been no resolution as to what should be done.

The cluster of meetings with these broken filenames amounts to a very small amount of meetings, and a Google search doesn't seem to show many references to this link. It seems like the hour com

[2016-01-31 21:05] jflory7 opened #79 "Use alises as a way to merge groups"
Many different sub-projects and groups in Fedora are inconsistent with the meeting names they use when starting meetings with zodbot. Sometimes this is unintentional, sometimes it is just not being aware that consistent meeting names are important.

Until recently, my understanding was that aliases were a solution to this by "merging" different group names together under a singular, common group n

[2016-02-04 18:58] lmacken opened #80 "404 nick links in the meeting minutes"
https://meetbot.fedoraproject.org/sresults/?group_id=infrastructure&type=team
Clicking on `nirik` takes me to https://meetbot.fedoraproject.org/sresults/infrastructure.2016-02-04-18.00.log.html#l-6

[2016-02-04 19:01] lmacken opened #81 "Line anchors don't work properly"
So each line has an `l-<num>` anchor name, but a link like https://meetbot.fedoraproject.org/teams/infrastructure/infrastructure.2016-02-04-18.00.log.html#l-100 doesn't work properly unless I press enter on the URL after the page has initially rendered. It would be nice to be able to link directly to any line (or group of lines).

[2016-02-05 00:33] cydrobolt commented on #81
Thanks for reporting this! I noticed this before, but never filed an issue for it. Since mote loads logs dynamically, after the page loads, the line anchors don't work initially.

I'll fix this issue by performing the scroll after the entire log loads. :+1:

[2016-02-05 00:34] cydrobolt commented on #80
Hm, right. The relative URLs don't map correctly when used in the modal view. We should generate an absolute path for these links to ensure that they work in the modal as well.

[2016-02-09 18:25] jflory7 opened #83 "Links to some Meetbot meetings broken (unless you use meetbot-raw)"
Today, we noticed that some meetings cannot be viewed from the regular way in Meetbot. You can see the meeting for the day, but when you open it, it reports that it was unable to open the page (also citing a different address from the one in the URL bar). However, if you view the logs from `meetbot-raw`, you are able to view them.

See the following examples.

* [Original Summary](https://meetbot.

[2016-02-09 19:50] cydrobolt commented on #83
The team categorisation script only runs in meetings ran in #fedora-meeting. Hence,  your meeting in the ambassadors channel isn't placed in the team folder or available to view (because mote thinks that it is part of a team, due to #meetingname being used.)

 We should revamp the get meeting logs API endpoint to fetch directly from the channel rather than the team

[2016-02-10 21:36] #83 closed

[2016-02-18 19:17] ralphbean opened #86 "Add "latest meetings" to the frontpage"
Often, I go to mote *shortly* after I participated in a meeting.  It would be nice if the frontpage had a (small) set of links to the last 3 or 4 meetings, so I could quickly find it without having to search.

[2016-02-18 21:13] cydrobolt commented on #86
I like this idea! Would we integrate mote with fedocal to achieve this? Or do we want to use some kind of fedmsg scraping?

[2016-02-21 22:56] rdp1070 commented on #81
Hey, I think I can fix this, and since it's 16 days old I am going to assume no one is working on it.
I will submit a PR as soon.

[2016-02-21 23:33] cydrobolt commented on #81
@rdp1070 great, thanks! :+1:

[2016-02-22 02:08] rdp1070 commented on #81
I have created a pull request for this issue.

[2016-02-23 21:33] #86 closed

[2016-02-23 21:57] cydrobolt commented on #81
Fixed in #88 and 6f63adea3ad7b4a35dbced91379198c4dd9ef467

[2016-02-23 21:57] #81 closed

[2016-02-27 06:12] cydrobolt commented on #78
Rectified for now. Closing.

[2016-02-27 06:12] #78 closed

[2016-02-27 06:15] cydrobolt opened #89 "Add datagrepper URL as a configuration variable"
The datagrepper URL as referenced in `latest_meetings.py` (https://github.com/fedora-infra/mote/blob/master/mote/latest_meetings.py#L22) should be a configuration variable to allow users to specify their datagrepper instance and allow `meetbot.stg.fp.o` to work correctly. When the datagrepper prod URL is used in the stg mote instance, an SSL error is shown:

[code]

The stg mote instance should us

[2016-03-04 02:26] #89 closed

[2016-03-04 02:33] cydrobolt opened #91 "Add datagrepper option in ansible role"
Before the new stg fix update goes out, we will need to update the `config.py` template located in Ansible to reflect the new configuration option for datagrepper URLs.

[2016-03-28 16:38] mattdm opened #92 "Pie-in-the-sky RFE: automatic wordclouds for each meeting"
Remy and Ralph hooked up this cool thing on twitter (https://twitter.com/fedobot/status/707270047803121664) which automatically generates wordclouds from each meeting. It'd be awesome to have this integrated into Mote directly.

And as an enhancement, I'd like to see _two_ clouds per meeting — one for usernames (including usernames mentioned in chat) and one for everything else.(Maybe use a differ

[2016-03-28 17:47] cydrobolt commented on #92
This seems like a useful nifty feature we could definitely integrate. I can look around for generators of my own, but if you already have one that is working well, I can take a look at it and see if it can be integrated :)

[2016-03-28 17:59] mattdm commented on #92
@decause @ralphbean I have no idea how the current thing is hooked up. :)

[2016-03-28 18:17] ralphbean commented on #92
I think [this](https://github.com/decause/wordcloudbot) is the code.  @decause, can you confirm?

[2016-03-28 18:21] decause commented on #92
@ralphbean yes, can confirm this is the code. The PoC is hosted locally on my personal machine (not ideal) but would like to be deployed somewhere more permanent, but there are some issues:

1) It chokes on auto-generated tweets larger than 140 chars, and needs to fail gracefully: https://github.com/decause/wordcloudbot/issues/2
2) If we are going to deploy this within Fedora Infrastructure, then

[2016-04-04 16:17] ralphbean opened #93 "Latest release not in rawhide"
If we're updating F23 and EPEL, we should definitely be updating rawhide and F24 also to avoid upgradepath issues.

https://bugzilla.redhat.com/show_bug.cgi?id=1311337

[code]

[2016-04-04 23:15] cydrobolt commented on #93
@ralphbean I thought rawhide automatically rebuilt -- should I `fedpkg build` in the master branch?

[2016-04-04 23:28] ralphbean commented on #93
Yes - that'll do it :)

rawhide gets automatically pushed to a repo after you build it.  For stable branches you have to do bodhi updates - for rawhide you do not... but you still have to build it.

[2016-04-04 23:30] cydrobolt commented on #93
I rebuilt `mote` in rawhide

http://koji.fedoraproject.org/koji/buildinfo?buildID=751072

Hopefully this should fix it!

[2016-04-04 23:30] #93 closed

[2016-04-05 05:36] pypingou commented on #93
Don't forget f24 as well :) (and that one goes through bodhi)

[2016-04-05 22:54] cydrobolt commented on #93
@pypingou pushed update for f24 as well

[2016-04-06 08:18] pypingou commented on #93
Thanks :)

The idea is that people should be able to go from N-1 (say f23) to N (say f24), so every package in N must be at a newer or equal version as the one in N-1.

[2016-04-12 19:56] whitel opened #94 "RFE: Provide for a "deep link" to a particular meeting on the meeting page"
Commonly, people send out the permalinks to the logs or meeting minutes. I would like to send out a link to the "page" for the meeting in mote so that the recipient can: 1) see all the options; 2) have a nice UI to select the option they want.

[2016-04-13 05:09] jwflory opened #95 "RFE: Add link previews to meeting summaries"
`#link` is a Meetbot command to add a link to the Meetbot minutes. It would be a cool and useful feature if linked URLs had a preview below the link before you open it. For an image, this could be a small thumbnail of the image in the logs. For a Trac ticket, it could be a thumbnail of the page contents, similar to how when you post a link in something like Facebook or other social media platforms

[2016-04-15 07:47] pranavk opened #96 "Doesn't work with an ' in name"
Could not access a URL

https://meetbot.fedoraproject.org/fedora-meeting/2016-04-15/apac_ambassador's_meeting.2016-04-15-05.04.log.html

Apparently, it has a ' in its name, which seems the most probable reason.

[2016-04-15 11:37] cydrobolt commented on #91
Fixed

[2016-04-15 11:37] #91 closed

[2016-04-15 11:38] cydrobolt commented on #96
Already fixed in 10f6ad97ddedc1b8ab5be2da6e795fed7063c396 but not yet deployed. I'll try to do that soon :)

[2016-04-15 11:38] #96 closed

[2016-04-17 04:23] cydrobolt commented on #95
I'm not sure if implementing this would be a sound decision given the scope of our project.

In order to have a feature of the sort, we would have to make a ton of requests to arbitrary web servers without a means to verify their legitimacy. This could a door for abuse. People who want to see a page could click on it or look it up elsewhere. Is it really critical to have a thumbnail show up undern

[2016-04-17 23:43] cydrobolt commented on #92
I might be down to package `word_cloud` in Fedora. We could also try using JavaScript on the client side to create word clouds.

https://github.com/jasondavies/d3-cloud

[2016-04-19 12:35] jflory7 commented on #95
It's obviously not critical, but it could be an interesting feature to add in. There seem to be secure ways to do this, particularly if the hyperlink links to a site that generates that kind of information. Ideally, it would be similar to posting a link in WordPress, Facebook, Telegram, etc.

This obviously isn't mission critical, but it would be nice "extra" feature. I'll defer judgment to those

[2016-04-19 18:05] cydrobolt commented on #95
Right -- WordPress's feature is limited to authors and admins. Telegram might have the resources to do this or uses your own connection to fetch the page.

Personally, I don't see the benefits outweighing the risks in this case. I'd like to see other opinions as well.

[2016-05-10 10:55] puiterwijk opened #97 "No logs"
There are no logs in /var/log/httpd/error_log on 500's and no indication of where the logs are in the SOP.

Please add logging so server errors can be debugged.

[2016-05-10 12:00] pypingou commented on #20
So what is the status of this ticket?

[2016-05-10 13:21] cydrobolt commented on #97
The httpd log file should contain logs; however, they should also be available if you run `service httpd status`

I'll check on this soon.

[2016-05-10 13:22] cydrobolt commented on #20
Most of the offsite resources have been fixed, but some embedded Google fonts in the bootstrap style sheet might still be present.

[2016-05-17 05:42] puiterwijk commented on #97
service log:
May 11 01:15:08 value01.phx2.fedoraproject.org systemd[1]: Starting The Apache HTTP Server...
May 11 01:15:09 value01.phx2.fedoraproject.org httpd[28036]: [Wed May 11 01:15:09.053645 2016] [env:warn] [pid 28036] AH01506: PassEnv variable HOSTNAME was undefined
May 11 01:15:09 value01.phx2.fedoraproject.org systemd[1]: Started The Apache HTTP Server.

[root@value01 httpd][PROD]# cat er

[2016-05-17 11:13] cydrobolt commented on #97
Looks like the function server_error_500(e): in the mote init.py should be logging e to stderr.

[2016-05-17 20:09] cydrobolt commented on #97
See #99 @puiterwijk

[2016-06-15 14:43] #94 closed

[2016-09-27 01:39] cydrobolt opened #101 "Remove extraneous intro text on front page"
The intro text on the front page (specifically
[code]

[2016-09-29 09:51] bexelbie commented on #36
Can we get a solution today to just list all meetings in reverse chronological order. I am routinely struggling to find meetings which I know happened because I don't know what semi-random meeting name was selected.

[2016-09-29 09:56] bexelbie opened #102 "Integrate with fedocal to better classify meetings"
Fedocal lists when meetings are scheduled.  If mote was aware of the fedocal schedule it could make a fairly educated guess about what group the meeting was for.  This would allow for better search for meetings as you wouldn't have so many similar group names littering the name space.

[2016-09-29 19:36] cydrobolt commented on #102
Although it would be possible to integrate with Fedocal, are all meetings available within Fedocal? How complete is the data?

It sounds like you're suggesting that we scrap the current naming system in favour of names matched from Fedocal. mote handles archive data dating back many years; I'm not sure how smooth the data would be if we substituted the current naming conventions with Fedocal data.

[2016-09-29 19:39] #101 closed

[2016-09-29 19:42] cydrobolt commented on #36
@bexelbie Are you looking for the most recent meetings? There is a list of the most recent meetings on the front page. Additionally, if you know which channel the meeting occurred in (e.g #fedora-meeting, #fedora-meeting-2, etc), you can search for the channel and browse to the correct day to find the meeting you are looking for.

I would also suggest that you contact the group to help them choose

[2016-09-29 20:02] bexelbie commented on #36
@cydrobolt I saw the list of most recent meetings, but it stops after only a few.

Searching for a channel brings up a list I have to choose from, not a channel/date picker.

If we support these methods, it should be documented.

The browse screen seems to indicate only those specific meetings can be found.  Which is doubly frustrating when you know there are active groups who met yesterday who ar

[2016-09-29 20:05] bexelbie commented on #102
@cydrobolt

I do not want to see the current naming system scrapped and I think aliases sound like a good idea.  I am suggesting that using fedocal will add one more piece of metadata for some meetings and could make building things like the browse page easier.

[2016-10-05 05:53] ryanlerch opened #104 "Create vagrant setup for hacking on Mote"
It would be awesome to have a stock Vagrant setup for hacking on the Mote interface.

This would make it easier for new contributors to jump in and hack.

[2016-10-06 00:56] cydrobolt commented on #104
Hmm, what are some benefits of vagrant for this use case? I've found `vagrant` very helpful for more complicated stacks, but for mote, it seems like `virtualenv` could do the job well without the bulk of vagrant. i.e no database, Python, no real system dependencies otherwise

What do you think?

[2016-11-02 19:27] mairin opened #105 "RFE: Ability to merge teams"
Sometimes we title Fedora Design Team meetings 'fedora-design' and sometimes we title them 'design-team.' Is there a way we could merge these two 'teams' in m0te so they show up under one page? Right now they show up under different pages kind of randomly (as we use the meeting names kind of randomly.)

eg
https://meetbot.fedoraproject.org/sresults/?group_id=fedora-design&type=team
https://meetbot

[2016-11-02 19:28] cydrobolt commented on #105
See #79
I've been a bit MIA recently, but I'll be working on it soon.

[2016-11-02 19:28] #105 closed

[2016-11-02 19:31] mairin commented on #105
Oh thank you!

[2016-11-02 19:39] mairin opened #106 "Group types are confusing"
It's confusing when you're looking for a team in m0te and you get the team's IRC channel as one group and the actual team as another group. It's easy to gloss over / not notice the 'type' text field and assume you're getting two results for the same thing:

![screenshot from 2016-11-02 15-32-48](https://cloud.githubusercontent.com/assets/799683/19944312/ae2de936-a111-11e6-97cf-623ecfe08bf3.png)

O

[2016-11-02 19:45] mairin opened #107 "RFE: team name suggestion?"
I don't know how this would work - would likely need some kind of integration with meetbot itself - but it would be nice if when you're starting your meeting, that you could ask meetbot for a list of suggested team names based on m0te's team listing. e.g. the command could be something like:

'Hi, here are meetings I know about you could use for #startmeeting: magazine, design-team, hubs, ...'

[2016-11-02 19:51] cydrobolt commented on #106
This is a really good idea! Thanks :)

[2016-11-11 00:18] cydrobolt commented on #107
This would need to be integrated with MeetBot, but perhaps we can work something out to keep names more standardized and easier to understand.

If meetings are all available in Fedocal, we could try to pull names from there. If possible, though, it would be very helpful if meeting chairs were more informed about how to maintain consistent naming schemes for their meetings.

[2016-11-15 20:56] #106 closed

[2016-12-01 17:34] mairin opened #109 "Years listed in descending order but months in ascending order"
Hi!
One little niggle with the UI for viewing a team's list of meeting minutes - the years are stacked most recent to least recent, with 2016 on the top. However, the months are least recent to most recent order - so if it's dec 2016, you have to scroll way down to view the notes for the month even tho it's the current month. I'd suggest flipping the months so the most recent month is always at th

[2016-12-01 20:58] cydrobolt commented on #109
I agree! This does seem odd. Will take a look.

[2017-01-18 16:11] ktdreyer opened #110 "RFE: auto-link all URLs in the logs"
To create an href hyperlink in the meeting logs, users have to specifically use the `#link` command.

It would be great to auto-link all URLs in the HTML summary and logs. This would allow readers to easily visit the links as they read the summary and logs.

For example, here is one meeting summary: https://meetbot.fedoraproject.org/tendrl-devel/2017-01-13/check-in_20170113.2017-01-13-09.26.html .

[2017-01-18 16:41] cydrobolt opened #111 "Wrap links in log view"
Links should be wrapped in the individual log viewing page to ensure responsiveness.

[2017-01-18 16:44] cydrobolt commented on #110
It seems like the #link items are hyperlinks, but the links in #action items are simply text. Perhaps we can convert the other links into hyperlinks as well?

[2017-01-18 19:21] ktdreyer commented on #110
@cydrobolt that's right, it would be great to just auto-link everything.

[2017-01-20 03:52] ktdreyer commented on #110
Looks like Mozilla's [bleach](https://github.com/mozilla/bleach)'s `linkify()` method could work

[2017-01-25 23:09] skierpage opened #112 "usability: nothing happens when you click on a meeting date"
Visit a long-standing meeting like https://meetbot.fedoraproject.org/sresults/?group_id=kde-sig&type=team and click a date near the top such as 2016 > January > 2016-01-19.

Result: the date highlights in blue, but it seems nothing else happens.

Actually way down the page a "Minutes and Logs" section appears with links to minutes and logs, but it's easy to miss.

On click the page could scroll do

[2017-01-25 23:15] cydrobolt commented on #112
Are you encountering this issue on mobile? On larger screens, the links to minutes and logs should appear in the column to the side. This leaves more space for logs and minutes to appear.

[2017-01-25 23:26] skierpage commented on #112
In Firefox Nightly 53 on Fedora 25, in a window half my HD screen wide (960 pixels) there's no column to the side... aha! it appears around 994 pixels wide.
a) you could show that column at much narrower window widths.
b) you should use some "scroll into view if not visible" command that's a no-op in two-column mode but jumps down to Minutes and Logs in single-column mode.
Thanks for the fast resp

[2017-01-30 10:25] tlamer opened #113 "RFE: Add RSS/Atom feeds for each meeting group"
Hi,
It would be cool to add rss/atom feeds to each group.

[2017-02-14 15:56] mairin commented on #107
Hey @cydrobolt, any more thoughts on this? we're looking at implementing some widgets in Fedora hubs that work with Meetbot and solving this would really help :)

[2017-02-17 22:28] cydrobolt commented on #107
Hi @mairin

I would be interested in helping out if we had a clear vision of how this feature would work. Did you mention Fedocal? How would we connect this to Hubs?

[2017-02-18 01:50] cydrobolt commented on #112
Hmm, that's a good idea. I definitely think that it could be hard to realize on small non-mobile screens that scrolling down is required to see the logs :)

Maybe triggering a scroll to the log section of the page could be useful!

[2017-02-18 20:59] #109 closed

[2017-03-26 12:18] puiterwijk commented on #97
Looks like this still isn't fixed.
Mote again threw 500 responses, with an empty error_log.

[2017-03-26 12:20] cydrobolt commented on #97
We never pushed this update afaik. I'll try to build it and ping you.

[2017-03-26 12:32] puiterwijk commented on #97
@cydrobolt Note that we are currently frozen, and value01 freezes...
Also, is there any specific reason this was never built and updated, as now we again crashed without having any idea as to why.

[2017-03-28 22:30] cydrobolt commented on #97
I'm not sure why this was not built and updated. It's possible that it was lost in the mix. I can built it and package it, then we can deploy the fix once the freeze is over.

[2017-03-29 00:34] cydrobolt commented on #97
I've built mote 0.6.1 on Koji: https://koji.fedoraproject.org/koji/taskinfo?taskID=18652391

[2017-04-16 04:32] cydrobolt commented on #97
It's been deployed. Closing again.

[2017-04-16 04:32] #97 closed

[2017-04-16 04:49] cydrobolt opened #115 "Latest meeting button is broken"
The latest meeting function expects to find the latest meeting at the top of the bottom of the array of meetings. However, 9d27661a533302f5454f42e227f5a1bb27411ff1 reversed the order of the months, and the latest meeting is now present at the top of the array.

When the latest meeting button is pressed, the incorrect date is pulled up. Instead of pulling the date from the bottom, it should be pull

[2017-05-03 01:35] #115 closed

[2017-05-18 11:21] puiterwijk opened #117 "500 Server Error"
With the recent change, we can now finally see the error that occurs at times.
After some time, Mote (might) gets into a state where all requests are answered with a Server Error, with the following message in the httpd error log:

[code]

[2017-05-18 11:25] cydrobolt commented on #117
It seems like the error is being triggered by malformed JSON. Perhaps there are two sets of JSON data being loaded for some reason?

Could this be due to some kind of race condition? I don't think mote itself is set to save multiple JSON elements into a single file.

http://stackoverflow.com/questions/21058935/python-json-loads-shows-valueerror-extra-data

[2017-07-21 20:20] jflory7 commented on #92
As an update, the code for `wordclodubot` is on Pagure: [pagure.io/wordcloudbot](https://pagure.io/wordcloudbot "systemd service that listens to fedmsg for IRC meeting logs, generates a word cloud, and tweets it to a Twitter account")

[2017-07-21 22:04] mattdm commented on #92
Here's the [most recent FESCo meeting](https://meetbot.fedoraproject.org/fedora-meeting/2017-07-21/fesco.2017-07-21-16.00.log.html) using the javascript-based thing. For the names, I just took the 2nd column for the name list, and removed zodbot and `*` (smarter thing would be to take _3rd_ column when a `*` appears). For the text, I took third column on. It'd be better to also completely remove n

[2017-07-21 22:09] mattdm commented on #92
Latest Fedora Magazine article, column 3 only:

![magazine](https://user-images.githubusercontent.com/123367/28484328-ac6976e6-6e3f-11e7-9c23-cdeb07179f21.png)

[2017-10-21 20:21] tserafim opened #119 "Problems installing mote"
I was thiking about working on some of mote issues. I forked/cloned the repo, created a virtualenv and ran `python setup.py develop` but I got this error after some packages(including `python-openid-teams`) were successfully installed:

[code]
For some reason python-openid-teams is processed twice instead of python-openid.
This is the list of packages that were properly installed:

[code]

If I ru

[2017-10-21 20:25] tserafim commented on #119
After some search I found that I need to have `libffi-devel` installed on Fedora. Maybe mention this on the docs?

After isntalling `libffi-devel` I ran `python setup.py develop` again but got another error during installation of `pycparser` package:
[code]

[2017-10-21 20:28] cydrobolt commented on #119
I'm not exactly sure why these packages are being installed. Did you try running `pip install -r requirements.txt` instead?

[2017-10-21 20:40] tserafim commented on #119
So I followed your suggestion.
I created a new virtualenvironment and ran `pip install -r requirements.txt`. The dependencies were correctly installed and now `python setup.py development` does not return any error. Hooray!

From reading `README.md` I concluded that the `python setup.py develop` command was the only required step to install mote.

[2017-10-21 20:53] cydrobolt commented on #119
Hmm, we should change the README, in that case. The requirements in `setup.py` could be outdated.

[2017-11-02 18:37] #119 closed

[2020-10-03 07:05] t0xic0der opened #126 "Add CONTRIBUTING.md"
In the spirit of getting more contributors to the project, the above document would be appreciated.

[2020-10-03 07:05] t0xic0der opened #127 "Add CODE_OF_CONDUCT.md"
In the spirit of getting more contributors to the project, the above document would be appreciated.

[2020-10-03 07:13] t0xic0der opened #128 "Persist copyright footer information in mobile view"
This is how it looks on the default desktop view.

![image](https://user-images.githubusercontent.com/49605954/94985631-f08cbd80-0575-11eb-9878-8b078bc8a2db.png)

And this is how it looks in the mobile view.

![image](https://user-images.githubusercontent.com/49605954/94985652-08644180-0576-11eb-9443-c82c5fb68d5d.png)

Slight changes to the media queries can facilitate showing up of the copyright

[2020-10-03 07:19] t0xic0der opened #129 "[Subjective] Redundant links on the top bar"
![image](https://user-images.githubusercontent.com/49605954/94985737-b66feb80-0576-11eb-9ce9-18aa0be0ef30.png)

The `mote` link and the `home` link lead you to the same place. (Makes you think why to keep both when even one can suffice)

[2020-10-03 07:27] t0xic0der opened #131 "[User experience] Underutilized top menu bar"
The top bar looks like this.

![image](https://user-images.githubusercontent.com/49605954/94985808-46ae3080-0577-11eb-8549-6b4c3932f9d9.png)

This takes up a lot of screen real-estate with little utility. (Keeping in mind the redundancy of links as said in #129)

The search bar can head up there.

![image](https://user-images.githubusercontent.com/49605954/94985885-c1774b80-0577-11eb-90d1-c9ebc920

[2020-10-03 09:07] antriksh123 commented on #131
Could you be a bit more detailed as to what you are looking for?

[2020-10-03 10:27] antriksh123 commented on #126
You can close this or review my pull request on CONTRIBUTING.md

[2020-10-03 11:13] sashreek1 commented on #112
Hey! I would like to work on this issue

I can try most of the possible solutions mentioned here and see which one works best. I'll get back to you once I am done with that. would that be fine ?

[2020-10-05 21:30] jwflory commented on #127
Reposting from PR #130:

[2020-10-05 21:40] jwflory commented on #126
I think we need to work with a member of the Community Platform Engineering team on writing this document. There are things I do not know about CPE workflows and how to request reviews. So I think we should partner with someone who can answer the trickier questions about how to contribute here.

[2020-10-05 21:41] jwflory commented on #112
@sashreek1 Hi, thanks for your interest! :tada: It might be a good idea to double-check if this is still an issue. Three years have passed since the last discussion here, so it is possible some things have changed since then.

[2020-10-05 21:43] jwflory commented on #128
Makes sense!

Also, thinking about this more… I think the license is actually incorrect for the content. The Møte logs do not fall under copyright, they fall under the [Current Default License](https://fedoraproject.org/wiki/Legal:Fedora_Project_Contributor_Agreement) for Fedora:

[2020-10-05 21:45] jwflory commented on #131
Not sure if section titles belong in the top menu bar. But I do really like the idea of adding the search bar there! I think search is the most utilized discoverability feature of Møte.

[2020-10-06 01:10] sashreek1 commented on #112
Yes i did check and the issue does still exist :)

[2020-10-06 02:54] t0xic0der commented on #128
Welp. We can create another issue for that. :+1:

[2020-10-06 02:56] t0xic0der commented on #126
This stays open for now and I'll check if there is a mailing list for CPE. If so, I'll reach out to them to see if they can give some pointers regarding this.

[2020-10-06 16:13] jwflory commented on #112
@sashreek1 OK, great. Then yes, please go ahead and feel free to work on this. :tada: Drop a comment here if you have any questions or need feedback before making a Pull Request.

[2020-10-06 16:41] jwflory commented on #126
The Infra list is the best place to go for that. :grin: https://lists.fedorahosted.org/archives/list/infrastructure@lists.fedoraproject.org/

[2020-10-09 14:36] jwflory commented on #104
Four years have passed on this issue. I think we could explore a container-native way of setting up a testing environment, or use virtual environments if that works too.

Closing as `wontfix`.

[2020-10-09 14:36] #104 closed

[2020-10-09 15:40] jwflory commented on #20
Hi! So, a 4-5 year follow-up here. So, as @cydrobolt commented above, most off-site resources were already moved to be served locally. I don't think it is that unconventional to serve fonts externally. And if it does bother people, I would like someone to come forward and open a new issue, and we can address it then.

So, I am closing this one as complete. :clapper:

[2020-10-09 15:40] #20 closed

[2020-10-09 15:46] jwflory commented on #55
I concur with @mattdm above. Marking this as a "good first issue".

[2020-10-09 15:53] jwflory commented on #95
Four years later, I concur with what @cydrobolt originally told me. :grinning: So I am going to close this out as `wontfix`.

[2020-10-09 15:53] #95 closed

[2020-10-09 16:03] jwflory commented on #127
For the above-mentioned reason, I am going to close this issue. I do think this is important, but we can revisit once there is more details on the Fedora CoC update. I am following this process actively so I should be able to follow up once there is new progress.

[2020-10-09 16:03] #127 closed

[2020-10-10 12:49] t0xic0der opened #134 "[Documentation] Rework README.md to make include Python 3 specific instructions"

[2020-10-11 02:50] t0xic0der opened #136 "[Refactoring] Convert render returns to JSON returns for AJAX calls"
Certain operations can do without refreshing and rerendering the entire DOM, once an action has been performed. This can be done by introducing JavaScript codes which would make happen the request and receive a response from the server as a JSON-serializable object.

There are many places where this is needed so it is going to be a long haul.

- [ ] step 1
- [ ] step 2
- [ ] step 3

[2020-10-12 02:21] t0xic0der opened #138 "[Version Bump] Porting to Flask 1.1.x"
The version used in the codes is almost as ancient as 0.10. We need to change that.

[2020-10-13 12:29] t0xic0der commented on #136
Could you please assign me this @nasirhm? :hamburger:

[2020-10-13 12:33] nasirhm commented on #136
Sure.

[2020-10-20 18:11] nasirhm commented on #134
Working on it.

[2020-10-20 21:49] nasirhm opened #140 "[Bug] : config.json while memcached being False"
While trying to run the Application with copying the `config.py` file to `mote/` , It runs the application along with attaching a debugger to the WSGI application.

While accessing it via the browser, It was caused by the following issues (Stacktrace of the Debugger):
[code]
Why are we storing the `cache.json` file in a root-level directory `/var/cache/httpd/cache.json` if we're using the `python

[2020-10-21 15:16] nasirhm opened #142 "Creation of Container Image"
While migrating mote app to Python 3.

For setting up the development environment, You have to install `memcached` and `pipenv` in your host machine.

It would be a good idea to containerize the app to run inside an isolated container with `podman` or `docker` in order to make sure, the developer doesn't have to install packages in their host machine.

**Path 1** : Do we want to go with a plain `D

[2020-10-22 12:28] #134 closed

[2020-10-22 13:08] jwflory commented on #128
PR #133 from @antriksh123 was merged and fixed this issue. Closing this issue as complete. :clapper:

[2020-10-22 13:08] #128 closed

[2020-10-25 17:12] jwflory commented on #126
_Discussed in [2020-10-25 meeting](https://youtu.be/gpLPDgYRIvA)_.

---

I am taking a first attempt at this. I plan to split off the developer environment section in the README into the CONTRIBUTING doc. From there, it should be easier to on-board new developers who want to work on a Flask project.

Together with @ramyaparimi, we will tag-team this in the second half of the sprint to make sure it

[2020-10-25 17:13] jwflory commented on #55
_Discussed in [2020-10-25 meeting](https://youtu.be/gpLPDgYRIvA)_.

---

We briefly discussed this one. @nasirhm is working on #138 and #140 this sprint. If @nasirhm happens to have spare time before 8 November, he may work on this one too. But we did not officially schedule it into this sprint.

[2020-10-25 17:14] jwflory commented on #140
_Discussed in [2020-10-25 meeting](https://youtu.be/gpLPDgYRIvA)_.

---

This looks like some cruft still hanging in from when `memcached` was a more useful dependency. @nasirhm agreed to tackle this one for the current sprint, ending on Sunday, 8 November 2020. Will be completed after #138 is finalized.

[2020-10-25 17:15] jwflory commented on #62
_Discussed in [2020-10-25 meeting](https://youtu.be/gpLPDgYRIvA)_.

---

@ramyaparimi is going to take on this task to get more familiar with the codebase. For now, we are waiting on more explicit developer environment instructions (see #126). This issue is in scope for the end of the current sprint on Sunday, 8 November 2020.

[2020-10-25 17:17] jwflory commented on #142
_Discussed in [2020-10-25 meeting](https://youtu.be/gpLPDgYRIvA)_.

---

@t0xic0der volunteered to take this issue for the current sprint. Multi-container support is nice, so we agreed to use `docker-compose` while also rolling our own `Dockerfile` for møte itself. Depending on how the work goes with `memcached` (and whether we strip it out entirely), we may add other containers as dependencies fo

[2020-10-27 02:28] jwflory opened #143 "Get logs from remote server with correct credentials (fixes dev. environment)"
# Summary

Fetch IRC minutes and logs from the server by accessing them with user-provided credentials.

# Background

Local development is not intuitive as-is. There is some kind of logic for `GET`ing the logs, but it is unclear if the logs need to be saved on the local machine or if they can be queried or fetched from a remote server.

There is probably a more intuitive way to do this nowadays.

[2020-10-30 01:25] ramyaparimi commented on #62
I was trying to look at the link provided above..it gave me 404. So I went and browsed for the link in meetbot logs and found this.
https://meetbot-raw.fedoraproject.org/teams/fesco/fesco.2015-08-26-18.06.log.html

All the long lines seem to be breaking properly at white spaces and no words are broken.

I also compared css styles for both`meetbot-raw`  and `mote`  and both are using `whitespace: p

[2020-10-30 14:53] kparal commented on #62
Here you go:
https://meetbot.fedoraproject.org/teams/f33-final-go_no_go-meeting/f33-final-go_no_go-meeting.2020-10-22-17.00.log.html

[2020-10-30 15:31] ramyaparimi commented on #62
Oh I see the issue in this page ! Thank you for sharing!

[2020-10-31 01:43] t0xic0der commented on #142
@nasirhm @jwflory What should be the base image for the image?

[2020-10-31 09:28] nasirhm commented on #142
I think, Python 3.x would work fine, What do you think @jwflory @t0xic0der ?

[2020-10-31 13:00] t0xic0der commented on #142
The Python image on the hub is gigantic in size with multiple layers (None of which could be reused from the preexisting `ubuntu` or `fedora` images) while a `focal` image is hardly 72MB in size.

[2020-10-31 19:18] ramyaparimi commented on #62
Created [PR#147](https://github.com/fedora-infra/mote/pull/147) to address the issue.

[2020-11-01 16:04] jwflory commented on #138
#146 is merged, closing as fixed! 🌊

[2020-11-01 16:04] #138 closed

[2020-11-01 16:05] t0xic0der commented on #142
Alpine it is. :smile:

[2020-11-01 16:59] nasirhm commented on #142
After researching a bit on it, using Alpine might not be a great idea for it, [here's why](https://pythonspeed.com/articles/alpine-docker-python/) . How about using `python:x.x-slim` ?

[2020-11-01 17:26] t0xic0der commented on #136
This is a reminder comment for myself. I need to go through the template files provided in the template directory to understand which file needs work and which parts can be modernized into active AJAX calls.

[2020-11-01 17:30] t0xic0der commented on #136
As the scope of this issue is quite huge and might span across multiple grounded issues, while this being a meta issue - like we discussed upon in the first developer meet; @ramyaparimi and @HiraTariq-01 can help down the line. :sweat_smile: This is something we would want to discuss about in the next meet @nasirhm @jwflory.

[2020-11-01 22:20] jwflory commented on #142
_Discussed in [2020-11-01 sprint meeting](https://youtu.be/7l81smp61R8)_.

---

We reviewed what base image to use in the call today. We originally thought to use the Alpine Linux, but see @nasirhm's link above. For what it is worth, it is also common convention to use a base language image if you are mostly working in one stack only too.

[2020-11-01 22:28] jwflory opened #148 "Determine final fate of memcached in Møte"
_Discussed in [2020-11-01 sprint meeting](https://youtu.be/7l81smp61R8)_.

---

# Summary

Determine whether memcached dependency is worth keeping in.

# Background

`memcached` is a dependency from the original project work, but after recent difficulties with running it locally, we are wondering how necessary it is. Fedora Infrastructure also retired their memcached service some time ago, so ther

[2020-11-04 15:08] t0xic0der commented on #142
What is the outcome of this issue? An image, a docker file or both?

[2020-11-04 15:38] nasirhm commented on #142
A `Dockerfile` that would result in a Image working fine with mapping port 5000 with host's 5000 would be a good starting point.

[2020-11-08 12:02] nasirhm commented on #55
It seems currently, we do get the latest meeting at the top along with the latest month and latest date at the top.

It seems fixed :)

![Uploading Screenshot from 2020-11-08 17-00-47.png…]()

[2020-11-08 15:39] t0xic0der opened #151 "Enable hot-reloading for template/codebase changes"

[2020-11-08 16:00] nasirhm opened #152 "Adding README contents on the Sphinx documentation."
Adding basic setup documentation from README.md to Sphinx.

[2020-11-08 16:01] nasirhm commented on #152
@HiraTariq-01 is working on it.

[2020-11-08 16:03] HiraTariq-01 commented on #152
Will work on it, thank you!

[2020-11-10 21:55] nasirhm commented on #148
_Discussed in [2020-11-08 sprint meeting](https://youtu.be/dJ995Zl2EH4)_.

---

It was suggested to keep `memcached` in the codebase for legacy and future purposes.

For development, to prefer the usage of file based cache would be better idea.

[2020-11-11 15:00] ramyaparimi commented on #63
Opened (PR #153 ) [https://github.com/fedora-infra/mote/pull/153] to fix the issue.

[2020-11-11 15:03] ramyaparimi commented on #62
Closing this issue as (PR#147)[https://github.com/fedora-infra/mote/pull/147] has been merged. 🎉
@nasirhm Thank you for merging my first PR 😄  🎉

[2020-11-11 15:03] #62 closed

[2020-11-11 15:49] t0xic0der opened #154 "Add a new suggestive search implementation to replace Select2"

[2020-11-14 11:47] #63 closed

[2020-12-11 13:06] nasirhm opened #157 "Fix Travis Badge in Readme.md"
Currently, In README.md, we have the Travis CI Badge Image, which seems to be broken.

Replace it with following lines:
[code]
As It'll point to the Continuous Integration status for the `master` branch.

Currently, It says error:
![Screenshot from 2020-12-11 18-09-21](https://user-images.githubusercontent.com/35005234/101907206-0b198d80-3bdc-11eb-974d-81d5ec414ae8.png)

After the change, It'll po

[2020-12-11 13:07] nasirhm commented on #157
@HiraTariq-01 would you like to work on it ?

[2020-12-11 16:03] gg-dev-05 commented on #157
May I work on this issue?

[2020-12-11 17:02] nasirhm commented on #157
Sure, Assigning it to you.

[2020-12-11 22:42] nasirhm commented on #152
@HiraTariq-01 as the PR https://github.com/fedora-infra/mote/pull/145 is merged.

I think, we can work on adding contents from README to Sphinx Docs :D

[2020-12-13 16:28] #157 closed

[2020-12-13 16:28] nasirhm commented on #157
Meged: https://github.com/fedora-infra/mote/pull/158

[2020-12-13 16:38] #140 closed

[2021-03-03 13:55] t0xic0der opened #159 "Suggesting removal of Fedmenu due to deprecation"
Fedmenu is not supported anymore so it should be removed from the application

[2021-03-20 16:30] copperii commented on #117
Is this issue still happening ?

[2021-03-20 16:33] t0xic0der commented on #117
@copperii I'm not really sure about it.

Could you perform checks to see if the issue still persist?

[2021-05-15 11:18] t0xic0der opened #162 "Fix tests and facilitate compatibility with Tox"
The current tests break under certain conditions due to which, no new commits can be pushed without having them checked first.

[2021-05-15 11:29] t0xic0der commented on #162
Also, testing with the use `python3 setup.py test` is now no longer encouraged, and using an alternate way to run the tests is recommended.

[code]

[2021-06-20 18:15] iamvarshith commented on #162
Hey can you assign me this I am tying to figure this out

[2021-06-20 18:21] t0xic0der commented on #162
Hi @iamvarshith, you would be working alongside @copperii, who has a POC of the same ready, which needs looking into.

[2021-09-29 02:17] t0xic0der opened #166 "Plug fedora-messaging to keep note of the recent meetings"
Plug fedora-messaging to keep note of the recent meetings

[2021-09-29 02:19] t0xic0der opened #167 "Use WebSockets and toast popups to inform users of recently finished meetings"
Use WebSockets and toast popups to inform users of recently finished meetings

[2021-09-29 02:21] t0xic0der opened #168 "Implement searching in each modal screens"
Search needs to be implemented in

- [ ] Channel modal
- [ ] Date modal
- [ ] Meeting modal
- [ ] Maybe in-conversation searching for meeting logs and minutes

[2021-09-29 02:23] t0xic0der opened #169 "URL Shortener for meeting logs"
The current meeting log URL is a bit long and also make the QR code complex as well. If we add a URL shortener and generate a QR based on that would make QR simple make the URL easier as well.

[2021-09-29 02:24] t0xic0der opened #170 "Add relevant links in the footer"
Like the one at https://getfedora.org/.

![Screenshot from 2021-08-30 21-04-08](https://user-images.githubusercontent.com/49605954/131365114-84e0de41-e864-4d49-b3ee-9fea259baaf3.png)

[2021-09-29 02:26] t0xic0der opened #171 "Rework the design with faint gray gradient to fit with Fedora aesthetics"
For instance

![1](https://user-images.githubusercontent.com/49605954/131433323-42e745b5-f24c-4139-ab2c-8550aca52fc9.png)

[2021-09-29 02:27] t0xic0der opened #172 "Investigate packaging of the software in an RPM"
Check on the feasibility and viability of the packaging.

[2021-09-29 02:28] t0xic0der opened #173 "Curate list of meetings to keep only those which are relevant"
A blind scrape of the `meetbot-raw` site will potentially get meetings that are not sought anymore. Albeit they can still be retained for legacy purposes, the channels which are active and relevant should make their way at the top.

[2021-09-29 02:30] t0xic0der opened #174 "Add CI for enforcing styles with Black and sorting imports"
Add CI for enforcing styles with Black and sorting imports

[2021-09-29 02:31] t0xic0der opened #175 "Document API endpoints and returned JSON schema"
Document API endpoints and returned JSON schema

[2021-09-29 02:32] t0xic0der opened #176 "Create a custom 404 page"
Create a custom 404 page

[2021-09-29 02:34] t0xic0der opened #177 "Flash meeting log sections in focus when directed"
Example - https://css-tricks.com/on-target/

[2021-09-29 02:34] t0xic0der opened #178 "Add client-side QR code generation for easily sharing meeting data"
Add client-side QR code generation for easily sharing meeting data

[2021-09-29 05:27] siddhantkhariwal commented on #176
Hey, Can I fix this issue?

[2021-09-29 05:29] siddhantkhariwal commented on #170
Hey, Can I fix this issue?

[2021-09-29 08:20] t0xic0der commented on #170
Sure, please go ahead.

[2021-09-29 08:25] t0xic0der commented on #170
@siddhantkhariwal, could you please provide an ETA for this?

[2021-09-29 11:33] mugiwarafx commented on #168
asking for assignment 🖖️🙂️!

[2021-09-29 12:14] X3NOSAURUS commented on #171
Hey, I'd like to work on this?

[2021-09-29 17:11] siddhantkhariwal commented on #170
Will complete in 24hrs.

[2021-09-29 17:58] t0xic0der commented on #170
Sounds good. Please derive a new branch from the `fragment` branch https://github.com/fedora-infra/mote/tree/fragment and be sure to target your PR against it.

[2021-09-30 00:40] t0xic0der commented on #177
@chinmaym07, could you please provide an ETA for this?

[2021-09-30 00:43] t0xic0der commented on #176
@siddhantkhariwal,

I'd suggest completing https://github.com/fedora-infra/mote/issues/170 first before moving on to working on this.

[2021-09-30 09:45] siddhantkhariwal commented on #170
When I am opening this link it is showing an error 404 page.

[2021-09-30 10:18] t0xic0der commented on #170
We moved that branch to become the primary branch for the repository. Now, you can derive from the `main` branch and target the `main` branch in your PR.

[2021-09-30 12:04] siddhantkhariwal commented on #170
Okay, Thank you.

[2021-09-30 12:41] t0xic0der opened #179 "Allow installing using setuptools"
Allow installing using setuptools

[2021-09-30 14:32] chinmaym07 commented on #177
Hey @t0xic0der . I will take atmost 2 days to complete this issue . Will it work ?

[2021-09-30 14:46] t0xic0der commented on #177
2 days is fine. Please limit your PR to what is been requested in the issue ticket.

[2021-09-30 14:54] t0xic0der opened #180 "Decentralize the configuration as an environment file"
Decentralize the configuration as an environment file

UPDATE - That environment file should be in the form of a config module, say `config.py`.

[2021-09-30 14:57] t0xic0der commented on #177
The recent meetings would be inaccessible as the archive was taken some time back. Try opening meetings from the other buttons.

[2021-09-30 14:57] t0xic0der opened #181 "Update readme to provide the acquired meeting archive"
Update readme to provide the acquired meeting archive

[2021-09-30 15:03] chinmaym07 commented on #177
I tried all the links which are there in `Last day` & `Last week` tabs but all are giving the same response 404 Not Found . also there are no channels in `explore` ..

[2021-09-30 15:52] t0xic0der commented on #177
Please take the instructions provided here https://github.com/t0xic0der/fragment for a spin and let me know if it works.

[2021-09-30 17:31] OBITORASU commented on #174
Will the GitHub action for autoblack be accepted as a possible fix for this issue?

[2021-09-30 17:42] t0xic0der commented on #174
Does it include isort to sort the dependencies?

On Thu, 30 Sep 2021, 23:01 Souhit Dey, ***@***.***> wrote:

[2021-09-30 17:48] OBITORASU commented on #174
We can use one of the available isort actions for sorting the dependencies. For example this one: https://github.com/isort/isort-action

[2021-10-01 02:34] t0xic0der commented on #174
Hello,

Sounds good. Can you write a custom CI method (using Tox maybe) that does
both?

Thanks and regards,
Akashdeep Dhar
***@***.***
***@***.***

On Thu, Sep 30, 2021 at 11:18 PM Souhit Dey ***@***.***>
wrote:

[2021-10-01 04:57] OBITORASU commented on #174
Made a PR with a custom GitHub workflow involving both isort and black as requested. Tested the same on my fork and it seems to be doing its job right, have a look and see if it works for your project :)

[2021-10-01 05:15] t0xic0der opened #185 "Add CODE_OF_CONDUCT"
In the spirit of getting more contributors to the project, the above document would be appreciated.

[2021-10-01 05:17] Ank221199 commented on #185
Please assign this issue to me

[2021-10-01 05:17] t0xic0der commented on #185
Done.

[2021-10-01 05:19] #185 closed

[2021-10-01 05:21] Ank221199 commented on #126
Hey, I would like to take up this issue

[2021-10-01 05:23] t0xic0der commented on #174
See https://github.com/psf/black/issues/333. Black doesn't have the feature to sort imports. Hence, you would want to format the code using Black first and then sort the imports.

[2021-10-01 05:24] OBITORASU commented on #174
Thanks!

[2021-10-01 05:32] t0xic0der commented on #126
Done.

[2021-10-01 05:38] OBITORASU commented on #174
Update: The issue persisted even after making black run before isort but adding that up with isort's --profile flag and setting it to black seems to have fixed the issue, now the workflow runs as expected.

[2021-10-01 07:39] siddhantkhariwal commented on #170
Hello @t0xic0der . I have made the footer with all the relevant links but I am having trouble with the Facebook and Twitter icons. It is showing a blank square instead of the original icon. I searched on stack overflow but was still not able to get the icons. Other than that the footer is complete.

[2021-10-01 10:53] Kadermiyanyedi commented on #175
Maybe https://github.com/Redocly/redoc or swagger (https://swagger.io/) can be used ?

[2021-10-01 11:01] t0xic0der commented on #175
Is it compatible with Flask?

On Fri, Oct 1, 2021 at 4:23 PM Kader M. ***@***.***> wrote:

[2021-10-01 11:07] Kadermiyanyedi commented on #175
Swagger yes. I saw this package for that.

https://flask-restplus.readthedocs.io/en/stable/swagger.html

or I usually also see this for python documentation:

https://www.sphinx-doc.org/en/master/

[2021-10-01 11:12] t0xic0der commented on #175
We are not using Flask RESTplus here.

Will it work with barebones Flask?

On Fri, Oct 1, 2021 at 4:37 PM Kader M. ***@***.***> wrote:

[2021-10-01 21:01] chinmaym07 commented on #177
Hey I tried to access this file in drive . But I don't have access to it . I have requested you for access .
https://drive.google.com/file/d/1iOKEgyHMtpnCwsuZa5ufT8gI9-ntuOVc/view?usp=sharing

[2021-10-01 23:52] t0xic0der commented on #177
I've shared it with you. :)

On Sat, 2 Oct 2021, 02:31 Chinmay Mehta, ***@***.***> wrote:

[2021-10-02 01:43] t0xic0der opened #188 "Format the date strings in the listing"
Group according to year and month

![image](https://user-images.githubusercontent.com/49605954/135699972-dedaa20f-7ef4-4478-b36e-bbee3c492ccb.png)

[2021-10-02 07:55] siddhantkhariwal commented on #170
Hey @t0xic0der can you help me with this?

[2021-10-02 08:05] chinmaym07 commented on #177
Hey I have downloaded & extracted the zip file but 404 Not found issue is still there . I tried to log the meetcont fetched using `
fetch_meeting_content` method defined in `modules/call.py`. There is some exception due to which I am getting `(false,'')`.

![image](https://user-images.githubusercontent.com/44670961/135708661-4178fc9c-c056-48e3-921a-1b89673dd5f1.png)

[2021-10-02 18:28] DiptoChakrabarty commented on #180
I am interested in this issue , just wanted to know by decentralise you mean to put such variables in a .env right?
https://github.com/fedora-infra/mote/blob/7fca9434c1445b1108e532d1f1631baf7eef541a/modules/late.py#L31-L32

[2021-10-03 06:18] t0xic0der commented on #177
Are you sure you extracted the contents in the right location?

[2021-10-03 06:19] t0xic0der commented on #170
Sure. Can you check if you can obtain the icons from FontAwesome?

[2021-10-03 06:20] t0xic0der commented on #180
Exactly.

We have a lot of variables like this one that we'd like to move away to an environment variable file.

[2021-10-03 12:30] chinmaym07 commented on #177
Yes I think I did ..
![image](https://user-images.githubusercontent.com/44670961/135753704-d08d3a0a-332a-4bee-baf5-bf5d9462fcb2.png)

[2021-10-03 13:58] t0xic0der commented on #177
So the meetings from the recent menu would result in a 404 and that is a
normal behavior as the meeting archive had been taken some time ago. Please
check if you are getting 404 while opening up meetings from either explore
or search menu.

On Sun, 3 Oct 2021, 18:00 Chinmay Mehta, ***@***.***> wrote:

[2021-10-03 14:01] chinmaym07 commented on #177
Yes that's correct as there are no folder's for the recent meetings due to which it is resulting in 404 which is fine .. therefore I tried to access the last meeting in any folder but that too resulted in 404 .

[2021-10-03 14:05] t0xic0der commented on #177
Are meetings getting listed under Explore menu?

On Sun, 3 Oct 2021, 19:31 Chinmay Mehta, ***@***.***> wrote:

[2021-10-03 14:10] chinmaym07 commented on #177
No there are no meetings available in Explore menu.

![image](https://user-images.githubusercontent.com/44670961/135757404-9d572c98-1554-4bc9-8ebb-86cbf1b8a5f7.png)

[2021-10-03 17:37] chinmaym07 commented on #177
Hey I have tried something . Will this work ?

https://user-images.githubusercontent.com/44670961/135765155-860b56a6-d09d-421b-ab66-7d3bb4944a9b.mp4

[2021-10-04 00:59] jaehoonhwang commented on #176
Mind if I work on this?

[2021-10-04 02:06] t0xic0der commented on #176
Sure, @jaehoonhwang. I'm assigning you this issue.

[2021-10-04 02:08] t0xic0der commented on #177
Hello,

Fantastic work. This will work.

Could you please change the colour to a lighter gradient of #008080?

Thanks and regards,
Akashdeep Dhar

On Sun, Oct 3, 2021 at 11:07 PM Chinmay Mehta ***@***.***>
wrote:

[2021-10-04 05:57] jaehoonhwang commented on #176
Checking in for custom 404;  does this look fine?

![image](https://user-images.githubusercontent.com/7682947/135801038-ac924ee6-6f93-4bc8-82f8-69289114dfa1.png)

[2021-10-04 06:19] jaehoonhwang commented on #176
Try #2
![image](https://user-images.githubusercontent.com/7682947/135802800-a259e28a-e97b-47ba-bd31-eaf30e043b4d.png)

[2021-10-04 06:40] siddhantkhariwal commented on #170
Yes, I tried with font awesome icons but it is showing only blank squares, I am unable to solve that issue.

[2021-10-04 07:29] t0xic0der commented on #176
The vector image that you have made use of in here https://github.com/fedora-infra/mote/issues/176#issuecomment-933177538. Could you please state its source and license of usage?

[2021-10-04 07:30] t0xic0der commented on #170
@siddhantkhariwal,

Could you make it happen without those icons? We can always add those icons in a subsequent PR.

[2021-10-04 07:36] siddhantkhariwal commented on #170
Yeah, okay I'll just create a pr.

[2021-10-04 07:36] jaehoonhwang commented on #176
@t0xic0der

It doesn't have a dedicated page for the image;
[site](https://undraw.co/search ) -> search 404

License on site: [License](https://undraw.co/license)

[2021-10-04 07:45] t0xic0der commented on #176
I see.

Could you please set the palette color to #80C0C0 in https://undraw.co/search and use the fourth image? (The one with leaves)

![image](https://user-images.githubusercontent.com/49605954/135812690-62a8e2c5-0aa0-4c7b-9db0-cd30cbcdd1c2.png)

Regarding the legality of the usage of the image, I'd tag @jwflory here as he would probably have a better context on this.

[2021-10-04 07:51] jaehoonhwang commented on #176
Done;

[2021-10-04 08:30] siddhantkhariwal commented on #170
Hey, @t0xic0der I created a pr, kindly check through it and let me know for any feedback.

[2021-10-04 08:47] Kadermiyanyedi commented on #175
I think we will need to download 3rd package(in pypi). We can ignore this suggestion as it complicates things.

[2021-10-04 18:50] chinmaym07 commented on #131
Hey @t0xic0der  Can I try this ?

[2021-10-04 18:51] chinmaym07 commented on #129
Hey @t0xic0der Can I try this too ?

[2021-10-05 15:47] #179 closed

[2021-10-09 22:06] tuba-mouqeem commented on #171
Hey, can I work on this issue?

[2021-10-10 01:14] t0xic0der commented on #171
Sure @tuba-mouqeem, can I have an ETA before I assign you this ticket?

[2021-10-10 02:53] bluetigerlily commented on #178
can I work on this one?

[2021-10-10 11:54] tuba-mouqeem commented on #171
2 days, it will be fine?

[2021-10-10 14:46] subhangi2731 commented on #188
Hello @t0xic0der I am an outreachy applicant can u please assign me this issue

[2021-10-10 20:52] tuba-mouqeem commented on #171
@t0xic0der please help me also setting up an environment. I am looking for HTML file that contains this main page code
![image](https://user-images.githubusercontent.com/76019991/136712528-af962d00-1c51-404c-8473-3a4c82e71492.png)
but it has only two HTML pages
![image](https://user-images.githubusercontent.com/76019991/136712573-774363ab-fccf-456c-aa0b-43b3a5bef0e2.png)
![image](https://user-imag

[2021-10-11 19:49] tuba-mouqeem commented on #171
Thanks, I have set up

[2021-10-11 19:53] tuba-mouqeem commented on #171
![image](https://user-images.githubusercontent.com/76019991/136848071-e2404ca0-123c-4740-a4cf-c94a6d7e5de4.png)

[2021-10-11 20:41] tuba-mouqeem commented on #171
![image](https://user-images.githubusercontent.com/76019991/136853129-6b470196-825f-418f-a322-4bc73ec19b11.png)

[2021-10-12 08:23] tuba-mouqeem commented on #171
Thank you, I have successfully started mote server
![image](https://user-images.githubusercontent.com/76019991/136918944-1314d548-99cd-4943-ba90-96a197aad2fe.png)
but still, CSS is not showing and I am having mote.main (lazy loading). I researched on the internet but not getting my answer
![image](https://user-images.githubusercontent.com/76019991/136919528-12deb0c8-a2a6-4b00-bf02-d0c3c6a3b47d.png

[2021-10-12 10:53] gridhead opened #196 "Elaborate explanations of setup commands"
Elaborate explanations of setup commands

[2021-10-12 17:45] Hina-softwareEngineer commented on #169
Hello, I am new to this repository and want to contribute to this issue. So, I need help regarding this issue. Which URL you are talking about to shorten. Because here, https://meetbot.fedoraproject.org/, I am not seeing any QR Code. Can you please elaborate more so that new comers can understand?

[2021-10-12 21:59] Salim-Swaleh commented on #129
@t0xic0der Can I take on this issue please?

[2021-10-13 09:25] jet2018 commented on #136
Hello can I also work alongside @nasirhm on this, am confortable with JQuery AJAX calls and JQuery at large

[2021-10-14 09:03] kedar-hargude commented on #80
@fedora-infra-bot @t0xic0der Is this issue still required?

[2021-10-15 16:33] subhangi2731 commented on #188
hey @t0xic0der can you please tell me in which file of src/moto/module I have to do the changes ??

[2021-10-16 03:01] t0xic0der commented on #171
@jet2018, I don't have a problem with that as long as the task gets done satisfactorily. You would want to seek out to @tuba-mouqeem's permission in order to work together on this as she's the assignee for this ticket.

No worries, I'll begin taking a look and reviewing it shortly.

[2021-10-16 03:44] kedar-hargude commented on #80
Hey @lmacken , Is this issue still required?

[2021-10-16 04:37] kedar-hargude commented on #172
Hey @t0xic0der, may you assign this issue to me?

[2021-10-16 05:02] t0xic0der commented on #172
Sure, @kedar-hargude.

[2021-10-16 11:41] subhangi2731 commented on #188
okay got it I will do it thanks @t0xic0der

[2021-10-16 21:41] tuba-mouqeem commented on #171
@jet2018 Yes you can work with me

[2021-10-18 01:39] bluetigerlily commented on #178
the way it works is just calling the current pages url and then has it generate a qr code of the current url for the created statefile.

[2021-10-18 04:53] subhangi2731 commented on #188
@t0xic0der can I first send a draft pr of the work which I have done so that u can tell me where the changes has to be done if there is any??

[2021-10-19 04:05] t0xic0der commented on #181
@subhangi2731, this issue ticket is no longer relevant. Thank you for your attention.

[2021-10-19 04:10] subhangi2731 commented on #173
@t0xic0der can i work on this??

[2021-10-19 04:34] t0xic0der commented on #167
@subhangi2731, there you go.

[2021-10-25 07:02] #196 closed, assigned to jet2018

[2021-10-31 07:33] subhangi2731 commented on #170
@t0xic0der @darknao I want to work on this issue. please assign me this one

[2021-11-01 00:45] t0xic0der commented on #171
Closed via https://github.com/fedora-infra/mote/pull/199

Nice work, @tuba-mouqeem!

[2021-11-01 00:45] #171 closed

[2021-11-01 04:34] subhangi2731 commented on #180
@t0xic0der @darknao With reference to the discussion in Element, can I please be assigned this issue now, so that I can start working?

[2021-11-01 18:31] subhangi2731 opened #206 "Change position of channel hyperlink on topbar"
The position of `channel` hyperlink in the topbar is uneven in comparison to that of the `Fragment` logo. It can either be brought a little down to make it even or can removed to the right beside the `Get fedora` link.

![Screenshot from 2021-11-01 23-55-58](https://user-images.githubusercontent.com/53938490/139722606-5cd95041-8baf-4f41-87a8-778138b0da58.png)

Also, is `Channel` hyperlink on the t

[2021-11-01 18:31] subhangi2731 commented on #206
@darknao @t0xic0der

[2021-11-01 18:54] subhangi2731 commented on #206
If this issue is relevant I would like to work on this issue so please assign me

[2021-11-02 01:19] t0xic0der commented on #206
@subhangi2731, sure. Assigning this issue to you.

[2021-11-02 02:56] subhangi2731 commented on #206
@t0xic0der Should the channel hyperlink be made even(brought a little down), or moved to the right beside `Get Fedora` link?

[2021-11-02 12:21] darknao commented on #206
I think we should either remove it completely, or brings all others major functionalities up there too (search & recent meetings).
I personally prefer the first option.
If we decide to keep it, it should stay on the left side, but make it aligned with the `Fragment` logo.
Note that `Get Fedora` is not aligned either.

[2021-11-02 16:20] subhangi2731 opened #208 "Correcting the theme to Grey Gradient across all the pages"
Currently, the grey gradient in header & footer shows up only on the homepage and not on meeting details page/ error page. This inconsistency should be removed and the newly introduced grey color should be updated across all pages.

@darknao @t0xic0der Please assign this issue to me.

[2021-11-02 17:36] kedar-hargude opened #209 "Fixing footer"
Correcting the links in footer.

[2021-11-02 17:37] kedar-hargude commented on #209
@t0xic0der may you assign this to me?

[2021-11-02 19:07] subhangi2731 opened #211 "Add footer to error page"
Currently, all the pages including the homepage and meeting-details page have a header and a footer. But, the 404 error page doesn't have a footer at all, which is inconsistent and looks incomplete. A similar footer should be added to the 404-error page as well.

I would like to work on this @darknao @t0xic0der

[2021-11-03 10:25] subhangi2731 commented on #211
@t0xic0der @darknao If you find this relevant can I work on this

[2021-11-03 11:03] jwflory commented on #173
@t0xic0der I think we should generally try to preserve historical meeting logs where possible. Sometimes the past links are buried in policy documents or decisions for the project. But I know not everything can be saved either.

Is there a raw list of meetings that we could start from first, and then narrow it down?

[2021-11-03 13:45] kedar-hargude commented on #209
@t0xic0der @darknao Since we also want to show the names of the project contributors through the footer link, in a modal view, how should the names of contributors be fetched?

[2021-11-03 16:48] kedar-hargude commented on #209
@t0xic0der @darknao May you please review and suggest changes

[2021-11-03 18:42] darknao opened #214 "Make more uses of Jinja templates"
We only have 3 html templates for now, but we already have parts of the same code on all of them.

Use the power of templating to refactor those pages and eliminate code duplicates like footer & header.
See https://jinja.palletsprojects.com/en/3.0.x/templates/

[2021-11-03 18:54] subhangi2731 commented on #214
@darknao can I work on this?

[2021-11-04 02:43] t0xic0der commented on #214
@subhangi2731, there you go.

[2021-11-04 06:33] subhangi2731 commented on #214
@t0xic0der @darknao As I've observed, this needs topbar & footers across all the pages to be consistent with each other, which isn't the case currently. So, this issue can be worked only on merging these two short MRs: #207 #210

[2021-11-07 14:08] oneamanish commented on #209
Hello ,
can you assign me for new codes!

[2021-11-08 20:57] jet2018 commented on #209
Hello can I also contribute on this?

[2021-11-16 13:40] copperii commented on #175
https://www.imaginarycloud.com/blog/flask-python/

[2021-11-25 05:09] #126 closed

[2021-11-25 05:16] #168 closed

[2021-11-30 03:21] #180 closed

[2021-12-01 03:39] #208 closed

[2021-12-02 03:52] #211 closed

[2021-12-02 04:28] t0xic0der opened #220 "Lower down the hierarchy of the about button"
The about button is very prominently shown and it should be one of the things with a comparatively lesser priority in the list of interactive elements.

[2021-12-02 04:29] t0xic0der opened #221 "Remove the buttons from the center of the page and have them as links on the navbar"
Remove the buttons from the center of the page and have them as links on the navbar

[2021-12-02 04:30] t0xic0der opened #222 "Week view of the calendar on the landing page to graphically show recent meetings"
Week view of the calendar on the landing page to graphically show recent meetings

[2021-12-02 04:30] t0xic0der opened #223 "Show recent meetings on the landing page directly without having to click on the RECENT button"
Show recent meetings on the landing page directly without having to click on the RECENT button

[2021-12-02 04:32] t0xic0der opened #224 "Implement dropdown suggestive search on the landing page"
Instead of having it on the modal.

If there are a lot of search results, the dropdown suggestive search can show the top 5 and then provide a button to load up a modal with the additional search results.

[2021-12-02 04:33] t0xic0der opened #225 "Have a year/month/week wise calendar view on the channels modal"
Each calendar date element would have dots to signify the number of meetings that took place on that day. We need to find a robust and well-maintained JavaScript library for the calendar implementation for this.

[2021-12-02 04:35] t0xic0der opened #226 "Show a last active notification on the channels modal"
This would help people to move back quickly to the time when the channel was active - than to navigate through months/years/weeks of inactive calendar dates.

[2021-12-02 04:39] t0xic0der opened #227 "Show metrics on how active a channel has been"
Pretty much like the way it has been implemented on the Hyperkitty.

![image](https://user-images.githubusercontent.com/49605954/144358640-7f50df69-1cee-4bb9-ae42-db6e32295533.png)

We would also want to sort channels on the basis of their activity to show the top 10 most active channels in the landing page.

[2021-12-02 05:05] t0xic0der opened #228 "Rework the landing page"
With the significant amount of inputs we accrued from @mairin and @misc, I have a plan that can help rework the landing page in a way that it would end up feeling a lot usable and functional.

![image](https://user-images.githubusercontent.com/49605954/144360372-f4fbf09a-d9d6-4c3b-8489-7350dd4939a7.png)

This illustration is not pixel-perfect and is representative of the relative positions of the

[2021-12-02 21:16] mairin commented on #228
This is close to what I was thinking. Here's some higher fidelity mockups in case it helps
![Meetings by Group-1](https://user-images.githubusercontent.com/799683/144504408-0031c0d5-684b-4e41-ba25-93942719489c.png)
![Meetings by Group](https://user-images.githubusercontent.com/799683/144504409-a070e30a-13eb-481d-b8c1-deb5df51e585.png)
![Meetings By Date](https://user-images.githubusercontent.com/7

[2021-12-03 03:21] t0xic0der commented on #228
Superb! Thank you so much, @mairin. These are definitely going to help a lot.

[2021-12-05 14:01] subhangi2731 commented on #228
@t0xic0der please assign me this issue as this is of high priority as of now

[2021-12-06 06:12] #167 closed

[2021-12-14 02:32] #221 closed

[2021-12-14 04:47] t0xic0der commented on #173
Sure, you can find the raw list here https://meetbot-raw.fedoraproject.org/.

[2022-01-12 04:03] #228 closed

[2022-02-14 07:08] subhangi2731 opened #240 "Structuring about page and providing information of all the contributors"
About page should be made by describing mote project and then providing a list of all the contributors who have contributed to the project by giving info about their name, profile picture and the link to their github profile

[2022-02-24 15:07] mscherer commented on #117
The issue still exist, and a patch is #248

It seems the json is truncated when dumped so I suspect a race condition.

[2022-02-24 15:26] mscherer commented on #117
Another solution would be to use memcached in production, and install it locally on the server. @darknao pointed me to #148 on that topic.

[2022-03-01 03:21] t0xic0der commented on #224
Implemented in one of @subhangi2731's PRs. Closing.

[2022-03-01 03:21] #224 closed

[2022-03-01 03:23] t0xic0der commented on #225
The calendar view has been implemented by @subhangi2731. Closing.

[2022-03-01 03:23] #225 closed

[2022-03-01 03:24] t0xic0der commented on #223
The recent meetings now show up on the calendar view - hence this issue is now fixed. Closing.

[2022-03-01 03:24] #223 closed

[2022-03-01 03:26] t0xic0der commented on #222
With the calendar view, we have obtained three modes for showing weeks, months and days - hence, this issue is also fixed. Closing.

[2022-03-01 03:26] #222 closed

[2022-03-01 03:30] t0xic0der commented on #206
Closed via #207. Thanks for working on this, @subhangi2731.

[2022-03-01 03:30] #206 closed

[2022-03-01 03:32] t0xic0der commented on #209
Closing this as FIXED.

[2022-03-01 03:32] #209 closed

[2022-03-01 04:42] subhangi2731 opened #249 "Add a new footer at Mote's message or log showing screen"
Add a footer like this https://getfedora.org/ at statfile.html file

[2022-03-01 04:42] subhangi2731 commented on #249
@t0xic0der please assign me this issue

[2022-03-07 03:04] t0xic0der opened #251 "Correct the navbar in the 404 page"
This is how the landing page looks like.

![image](https://user-images.githubusercontent.com/49605954/156960657-93e44d71-f773-466e-b3fc-cc26939bde20.png)

And this is how the 404 page looks like.

![image](https://user-images.githubusercontent.com/49605954/156960707-24189804-7dd7-4e10-8113-91e718e4caf7.png)

The 404 page happens to have the older navbar without the said Fedora logo. We would want

[2022-03-07 03:06] t0xic0der opened #252 "Correct the navbar in the meeting viewing page"
This is how the landing page looks like.

![image](https://user-images.githubusercontent.com/49605954/156960907-5c95a461-ba27-4dc7-9510-2c623372e23e.png)

And this is how the meeting viewing page looks like.

![image](https://user-images.githubusercontent.com/49605954/156960901-b3b692be-21db-47c8-ba5b-e5f50a97c996.png)

The meeting viewing page happens to happens to have the older navbar without t

[2022-03-07 03:10] t0xic0der opened #253 "Runtime errors due to not using a gevent-websocket server"
Here's a log snapshot.

![image](https://user-images.githubusercontent.com/49605954/156961176-d0f6e7b9-58d1-44f1-a318-f2c50031b587.png)

And here's a snippet for the copy-pasta convenience.

[code]

`werkzeug` which happens to be the default WSGI for `flask` must be replaced by a `gevent` compatible WSGI.

[2022-03-09 03:48] #220 closed

[2022-03-09 03:48] #240 closed

[2022-04-25 12:47] StephenCoady opened #284 "As a fedora-infra member, I want to have mote's packaging automated."
## Acceptance Criteria

* packit.yml is added to the project
* once added, we can successfully create released rpms for mote
* https://src.fedoraproject.org/rpms/mote is updated by packit

[2022-06-28 14:19] darknao opened #321 "Minutes in text format are 404"
zodbot returns a set of 3 links at the end of each meeting: Minutes in html, minutes in text, and the log:
[code]
The text one is not working anymore with the new version of meetbot.

[2022-06-28 14:23] darknao opened #322 "Meeting logs in dark mode are hard to read"
The color scheme used in the darkmode theme should be changed to improve readability:
![image](https://user-images.githubusercontent.com/693402/176202531-1badf186-d2eb-4314-9d6e-28de10172491.png)

[2022-06-30 07:01] #321 closed

[2022-07-06 16:36] #322 closed

[2022-07-07 11:12] keszybz commented on #36
I think this is exactly what the new 2.0 version does: you have a calendar on the landing page, so you can just select any date and see all the meetings on that date.

[2022-07-07 11:21] keszybz opened #338 "RFE: search for meetings matching a name"
[from https://discussion.fedoraproject.org/t/meetbot-logs-2-0-is-out-now/40427/3]

RFE: list all meetings where the title matches some pattern, ordered by date.

For "fesco" this almost works, but the results are not ordered by date, so it's hard to look for a specific entry. Also, the list is limited to a few entries, so again, if I wanted to get a list of all fesco meetings over the last year, i

[2022-07-09 19:22] #36 closed

[2022-07-09 19:23] #55 closed

[2022-07-09 19:26] #80 closed

[2022-07-09 19:32] #111 closed

[2022-07-09 19:33] #112 closed

[2022-07-09 19:34] #117 closed

[2022-07-09 19:35] #129 closed

[2022-07-09 19:35] #131 closed

[2022-07-09 19:36] #136 closed

[2022-07-09 19:36] #142 closed

[2022-07-09 19:37] #143 closed

[2022-07-09 19:37] #148 closed

[2022-07-09 19:39] #159 closed

[2022-07-09 19:39] #172 closed

[2022-07-09 19:40] #166 closed

[2022-07-09 19:40] #162 closed

[2022-07-09 19:40] #154 closed

[2022-07-09 19:41] #251 closed

[2022-07-09 19:42] #152 closed

[2022-07-09 19:45] #252 closed

[2022-07-11 14:35] mattdm opened #342 "RFE: text links in the new UI"
The new UI looks great! Thanks for doing this.

I often want the text-formatted version of the minutes — it's handy for re-posting into email or forum posts.

I _think_ this just applies to the minutes, because the "full log" view contains a basically-raw log anyway that one can copy. But maybe a link from _that_ page to the corresponding text would be nice too.

I happen to know that I can click

[2022-07-11 19:18] darknao commented on #342
Something like this?
![image](https://user-images.githubusercontent.com/693402/178341115-dfd52e24-aa35-4f4a-a103-7b890b14fd26.png)

[2022-07-13 11:45] #342 closed

[2022-07-14 17:11] keszybz commented on #338
![Screenshot from 2022-07-14 19-08-37](https://user-images.githubusercontent.com/349618/179042468-5645dc59-03d9-4ab0-b229-a679115ff77f.png)

With "more":
![Screenshot from 2022-07-14 19-10-26](https://user-images.githubusercontent.com/349618/179042683-4aae9149-eea8-4e5a-b01f-e58eaff5bdf4.png)

[2022-07-14 17:42] darknao commented on #338
ah, interesting.
Can you share some information about your environment, like operating system, browser, and the locale setting (language used by your browser)?

[2022-07-14 18:09] keszybz commented on #338
I get the same search order with google-chrome-stable-98.0.4758.102-1.x86_64.

[2022-07-14 19:31] darknao commented on #338
Thanks, that is very helpful.
I may have found something. Can you try https://mote-mote.apps.ocp.stg.fedoraproject.org/ and see if you've the same issue.
Please keep in mind that this environment has a much smaller dataset, most of the meetings logs won't be there, but it should be enough for testing purposes.

[2022-07-14 19:34] keszybz commented on #338
With  https://mote-mote.apps.ocp.stg.fedoraproject.org/, I get the expected order!

[2022-07-14 19:35] darknao commented on #338
Wonderful! Thanks for confirming.
The fix should land in production in the next days.

Thanks for your help.

[2022-07-18 09:43] #338 closed

[2022-07-28 11:21] sanjayankur31 opened #363 "As a prospective contributor, I want to quickly find the link to mote sources on meetbot.fp.o"
I was looking around meetbot.fp.o for a link to the sources (here). I couldn't find one. Could one please be included in the footer, and maybe on the "about" page too?

[2022-07-28 11:24] sanjayankur31 opened #364 "As a Fedora community member, I'd like to have a permalink to the last meeting that a team held, or that was held in a channel"
Most teams do look at tasks from the last meeting, and lots of us would like to quickly find the latest meeting in general to go through logs. So, it'll be very useful for us to have a permalink for the most recent meeting.

For example, it could be: https://meetbot.fedoraproject.org/fedora-neuro/latest, and would point to the latest meeting that was held in the fedora-neuro channel.

If this can

[2022-08-08 04:58] t0xic0der commented on #363
Thanks for letting us know, @sanjayankur31.
I will look into it.

Also as a side note, the narrative-based issue title is something that we [created](#284) as a part of the CPE initiative where we were [automating packaging for the Fedora Infrastructure apps](https://pagure.io/cpe/initiatives-proposal/issue/20) on GitHub using Packit. Therefore, it is not a regulated theme for issue titles so plea

[2022-08-08 05:02] t0xic0der commented on #364
Thanks for the feature request, @sanjayankur31.

The feature requested here falls in line with the PoC that you showed me a week ago, @darknao and therefore I assigned you the ticket. The modal with previous and next buttons where folks could switch among multiple logs/summaries of meetings from the same channel could be an answer to this for now.

[2022-08-08 05:04] t0xic0der commented on #284
Closing this as invalid as we have deprecated point-based versioned releases in favour of the continuous deployment of the application. As new features make it to the primary branch of the repository, they would be automatically deployed and hence, this does not need to be packaged - let alone automated for packaging.

[2022-08-08 05:04] #284 closed

[2022-08-10 14:38] #363 closed

[2022-08-11 05:58] t0xic0der opened #385 "Occupy the entire width of the modal for the content"
This is how it is right now

![image](https://user-images.githubusercontent.com/49605954/184072601-e4bc7d76-2d41-477e-bf13-46b11eca1412.png)

A big chunk of the modal real-estate is left unutilized and that should not be the case.

[2022-08-11 06:01] t0xic0der commented on #385
This is how it should be.

![image](https://user-images.githubusercontent.com/49605954/184072858-dab35d7b-3662-4992-a04a-d9f7412245b6.png)

[2022-08-14 15:14] darknao commented on #364
I've implemented the `/latest` url redirect on [staging](https://meetbot.stg.fedoraproject.org/), please let me know if that suit your needs @sanjayankur31.

Note: not all meetings are synced in the staging environment. Last dump was from May 2022.

You can find the permalink in the meeting summary, in the `Permalink` dropdown:
![image](https://user-images.githubusercontent.com/693402/184543074-93

[2022-08-15 09:12] sanjayankur31 commented on #364
That looks great @darknao ! Thanks very much. :rocket:

[2022-08-19 17:25] yashbajoria05 commented on #170
Please this issue to me

[2022-08-22 06:07] #385 closed

[2022-09-28 03:23] t0xic0der opened #419 "Rework the CI configuration to make use of a Fedora container"
Right now, we make use of an Ubuntu container but we would like to make use of a Fedora container for the CI testing in order to replicate the deployment environment as much as possible.

[2022-09-28 03:27] t0xic0der opened #420 "Add code format and import sorting checks in Tox configuration"
They can be added as a separate test environment and then invoked from the GitHub Actions CI by referencing them in the configuration file.

[2022-09-28 03:28] t0xic0der opened #421 "Add vulnerability checking using `bandit`"
We would not want to ship a vulnerable code now, would we?

[2022-10-07 08:59] #420 closed

[2022-10-07 11:19] #421 closed

[2022-10-25 05:04] t0xic0der commented on #419
Closed via #425

[2022-10-25 05:04] #419 closed

[2022-11-01 02:59] t0xic0der opened #456 "Dependency lockfile needs investigation"
Many automated dependency updates from @dependabot are failing and certain versions of certain dependencies are either not available or are not compatible with other dependencies.

Pull requests affected by this

1. https://github.com/fedora-infra/mote/pull/437
2. https://github.com/fedora-infra/mote/pull/439
3. https://github.com/fedora-infra/mote/pull/440
4. https://github.com/fedora-infra/mote/

[2022-11-11 03:51] t0xic0der opened #469 "Investigate delays until the first modal appear"
Context: https://github.com/fedora-infra/mote/pull/447#pullrequestreview-1175016222

Let me re-emphasize that this was noticed on a local development environment where Redis was not installed to help with caching.

[2022-11-11 03:51] #364 closed